/*----------------------------*/
/* ACCORDION */
/*----------------------------*/

.accordion {
  @apply
  overflow-hidden
  ;
  &:not([class*='rounded']) {
    @apply
    rounded
    ;
  }
  .accordion-item,
  .accordion-header {
    @apply
    transition-colors
    duration-300
    ease-in-out
    ;
  }
  > .accordion-item {
    @apply
    overflow-ellipsis
    ;

    &:not(:first-child) {
      @apply
      border-t
      border-ui-700
      ;
    }
  }
  .accordion-header,
  .accordion-collapse {
    @apply
    transition-colors
    duration-100
    w-full
    ;
  }
  .accordion-header {
    @apply
    select-none
    text-left
    ;
    .icon[class*='icon-game'], 
    .item-title {
      @apply
      transition
      duration-300
      ease-in-out
      ;
    }
    .item-title {
      @apply
      text-ui-300
      ;
    }
    .icon[class*='down']{
      @apply
      transition
      transform-gpu
      duration-300
      text-ui-400
      ease-[cubic-bezier(.7,0,.3,1)]
      ;
    }
  }
  .accordion-collapse {
    @apply
    overflow-hidden
    transition-all
    transform-gpu
    duration-500
    ease-[cubic-bezier(.7,0,.3,1)]
    invisible
    ;

    ul.menu {
      > li {
        @apply
        translate-y-4
        opacity-0
        duration-300
        ;
      }
    }
  }
}

.accordion-item {
  &:hover {
    [aria-controls] {
      @apply
      cursor-pointer
      transition-all
      duration-200
      ease-[cubic-bezier(.7,0,.3,1)]
      ;
  
      &:not([disabled]),
      &:not(.is-disabled) {
        &:hover,
        &:focus-visible {
          @apply 
          opacity-100
          ;
          .item-title {
            @apply
            text-ui-100
            ;
          }
        }
      }
    }
  }
  .accordion-header {
    @apply
    relative
    cursor-pointer
    active:bg-ui-700/30
    outline-none
    focus-visible:outline-none
    ;

    &:focus-visible {
      &::before {
        @apply
        outline
        outline-1
        outline-main
        ;
      }
    }
    &::before {
      @apply 
      content-['']
      absolute
      z-20
      inset-0.5
      rounded
      pointer-events-none
      ;
    }
  }
  
  &:not(.is-active) {
    @apply
    hover:bg-ui-700/10
    ;
    .accordion-header {
      @apply
      text-ui-200
      ;
      .icon[class*='icon-game'] {
        @apply
        text-ui-300
        ;
      }
    }
    .accordion-collapse {
      @apply
      select-none
      ;
    }
  }

  &.is-active {
    @apply
    bg-ui-700/30
    ;
    > .accordion-header {
      @apply
      text-ui-100
      ;
      .item-title {
        @apply
        text-ui-100
        ;
      }
      .icon[class*='down']{
        @apply
        text-ui-200
        -rotate-180
        ;
      }
    }
    .accordion-collapse {
      @apply
      visible
      ;
      ul.menu {
        > li {
          @apply
          translate-y-0
          opacity-100
          delay-[calc(var(--delay,1)*0.1s)]
          ;
          &:nth-child(1) {
            --delay: 1;
          }
          &:nth-child(2) {
            --delay: 2;
          }
          &:nth-child(3) {
            --delay: 3;
          }
          &:nth-child(4) {
            --delay: 4;
          }
          &:nth-child(5) {
            --delay: 5;
          }
          &:nth-child(6) {
            --delay: 6;
          }
          &:nth-child(7) {
            --delay: 7;
          }
          &:nth-child(8) {
            --delay: 8;
          }
          &:nth-child(9) {
            --delay: 9;
          }
          &:nth-child(10) {
            --delay: 10;
          }
          &:nth-child(11) {
            --delay: 11;
          }
          &:nth-child(12) {
            --delay: 12;
          }
          &:nth-child(13) {
            --delay: 13;
          }
          &:nth-child(14) {
            --delay: 14;
          }
          &:nth-child(15) {
            --delay: 15;
          }
          &:nth-child(16) {
            --delay: 16;
          }
          &:nth-child(17) {
            --delay: 17;
          }
          &:nth-child(18) {
            --delay: 18;
          }
          &:nth-child(19) {
            --delay: 19;
          }
          &:nth-child(20) {
            --delay: 20;
          }
          &:nth-child(20) {
            --delay: 20;
          }
          &:nth-child(21) {
            --delay: 21;
          }
          &:nth-child(22) {
            --delay: 22;
          }
          &:nth-child(23) {
            --delay: 23;
          }
          &:nth-child(24) {
            --delay: 24;
          }
          &:nth-child(25) {
            --delay: 25;
          }
          &:nth-child(26) {
            --delay: 26;
          }
          &:nth-child(27) {
            --delay: 27;
          }
          &:nth-child(28) {
            --delay: 28;
          }
          &:nth-child(29) {
            --delay: 29;
          }
          &:nth-child(30) {
            --delay: 30;
          }
        }
      }
    }
  }
}

.accordion-sm {
  .accordion-header {
    @apply
    p-1
    ;
  }
}

/* accordion highlighted */

.accordion.accordion-highlighted {

  .accordion-header {
    @apply
    overflow-hidden
    relative
    ;
    > i {
      @apply
      absolute
      rounded-full
      transition
      transform-gpu
      text-ui-400
      opacity-0
      ease-[cubic-bezier(.7,0,.3,1)]
      ;

      &:nth-of-type(1) {
        @apply
        duration-700
        blur-md
        w-[120%]
        h-[100%]
        -left-[33%]
        -bottom-[10%]
        translate-y-12
        ;
      }

      &:nth-of-type(2) {
        @apply
        duration-300
        blur-sm
        w-full
        h-1
        right-3
        -bottom-0.5
        -translate-x-4
        ;
      }
    }
  }
  .accordion-item {
    &.is-active {
      > .accordion-header {
        @apply
        bg-ui-700
        ;
      }
    }
  }
}