/*----------------------------*/
/* ALERT */
/*----------------------------*/

.alert {
  @apply
  rounded-xl
  w-full
  flex
  justify-between
  items-center
  gap-4
  p-4
  text-ui-200
  bg-ui-700
  border
  border-ui-600
  leading-tight
  ;
  > * {
    @apply
    flex
    gap-4
    items-center
    ;

    :where(.icon, svg, img) {
      @apply
      shrink-0
      ;
    }

    .icon {
      @apply
      text-ui-300
      ;
    }
    svg path:not([fill]) {
      @apply
      fill-ui-300
    }
  }

  &.alert-sm {
    @apply
    p-2
    gap-2
    rounded-lg
    ;
    > * {
      @apply
      gap-2
      ;
    }
  }

  &.alert-green, 
  &.alert-blue, 
  &.alert-orange, 
  &.alert-red {
    @apply
    border-0
    ;
    &,
    > * .icon {
      @apply
      text-ui-800
      ;
    }
    svg path:not([fill]) {
      @apply
      fill-ui-800
    }
  }

  &.alert-green {
    @apply
    bg-interaction-500
    ;
  }
  &.alert-blue {
    @apply
    bg-blue-500
    ;
    
  }
  &.alert-orange {
    @apply
    bg-attention-300
    ;
    
  }
  &.alert-red {
    @apply
    bg-error-300
    ;
  }
}