/*----------------------------*/
/* ANIMATION */
/*----------------------------*/

.perspective {
  perspective: 500px;
}

/* delay */
.animate-delay {
  animation-delay: var(--delay, 0.3s) !important;
}
.transition-delay {
  transition-delay: var(--delay, 0.3s) !important;
}

/* iteration count */
.animate-infinite {
  animation-iteration-count: infinite;
}

/* flip */ 
.flip {
  @apply
  relative
  transition-transform
  duration-[1.25s]
  ease-[cubic-bezier(0.8,0,0.2,1)]
  ;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  
  > * {
    @apply
    absolute
    w-full
    h-full
    ;
    backface-visibility: hidden;
  }

  > .flip-front {
    @apply
    z-20
    ;
  }
  > .flip-back {
    @apply
    z-10
    ;
    transform: translate3d(0,0,0) rotateY(180deg) rotateX(0deg);
  }

  &:not(.animate-flip) {
    transform: translate3d(0,0,0) rotateY(0deg) rotateX(0deg);
  }

  &.animate-flip {
    transform: translate3d(0,0,0) rotateY(180deg) rotateX(0deg);
  }

  &.animate-delay {
    transition-delay: var(--delay, 0.3s) !important;
  }
}

.flip.flip-vertical {
  > .flip-back {
    transform: translate3d(0,0,0) rotateX(180deg) rotateY(0deg);
  }

  &:not(.animate-flip) {
    transform: translate3d(0,0,0) rotateX(0deg) rotateY(0deg);
  }

  &.animate-flip {
    transform: translate3d(0,0,0) rotateX(180deg) rotateY(0deg);
  }

  &.animate-delay {
    transition-delay: var(--delay, 0.3s) !important;
  }
}

.lottie-blur {
  @apply
  drop-shadow-main-lg
  ;
}

.animate-paused {
  animation-play-state: paused;
}
.animate-running {
  animation-play-state: running !important;
}

/* info banner */

.infobanner {
  @apply
  relative
  ;
  > .infobanner-front {
    @apply
    relative
    z-0
    ;
  }
  > .infobanner-back {
    @apply
    absolute
    z-0
    inset-0
    flex
    items-center
    select-none
    pointer-events-none
    ;
    > * {
      @apply
      translate-y-4
      opacity-0
      ;
    }
  }

  &.is-active {
    > .infobanner-front {
      @apply
      animate-[infobar-front_5s_cubic-bezier(0.3,0,0.3,1)_infinite]
      ;
    }
    > .infobanner-back {
      > * {
        @apply
        animate-[infobar-back_5s_cubic-bezier(0.3,0,0.3,1)_infinite]
        ;
      }
    }
  }
}

@keyframes infobar-front {
  0%, 15%, 85%, 100% {
    opacity: 1;
  }
  35%, 65% {
    opacity: 0;
  }
}
@keyframes infobar-back {
  0%, 20%, 80%, 100% {
    transform: translate3d(0, 1rem, 0);
    opacity: 0;
  }
  40%, 60% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* no anim */

.noanimation {
  [class*="animate-"],
  .header > .header-bg,
  .chat-reaction {
    animation: none !important;
  }
}

