/*----------------------------*/
/* TOURNAMENT BRACKETS */
/*----------------------------*/

.brackets-container {
  @apply
  grid
  justify-start
  items-start
  pb-4
  ;
}

.brackets {
  @apply
  flex
  items-stretch
  snap-x
  snap-mandatory
  overflow-x-scroll
  ;

  > * {
    @apply
    snap-start
    ;
  }
}

.bracket-teams {
  > li:first-child {
    @apply
    rounded-t
    overflow-hidden
    ;
  }
  > li:not(:first-child):not(:last-child) {
   
  }
  > li:last-child {
    @apply
    rounded-b
    overflow-hidden
    
    ;
  }

  > li{
    @apply
    relative
    z-10
    flex
    items-center
    p-1
    pl-2
    gap-2
    bg-ui-800
    relative
    shadow-[0_0_0_1px_rgb(var(--color-ui-600))]
    ;

    &::before {
      @apply
      content-['']
      absolute
      inset-y-0
      left-0
      w-1
      bg-ui-700
      ;
    }

    &.is-active {
      @apply
      relative
      shadow-[0_0_0_1px_rgb(var(--color-interaction-500))]
      z-20
      bg-ui-700
      ;
      &::before {
        @apply
        bg-interaction-500
        ;
      }
    }

    figure {
      @apply
      from-ui-800/0
      via-ui-800/0
      to-ui-800/0
      shadow-[inset_0_0_0_1px_rgba(var(--color-ui-100)/0)]
      h-[30px]
      w-[30px]
      rounded-sm
      ;
      
      > span {
        @apply
        inset-[0.1rem]
        inset-0
        shadow-[inset_0_0_0_1px_rgba(var(--color-ui-100)/0)]
        rounded-[calc(0.25rem-0.1rem)]
        ;
        &.icon {
          @apply
          text-sm
          ;
        }
      }
    }
    b {
      @apply
      flex-1
      block
      font-headings
      italic
      text-lg
      leading-none
      text-ui-300
      ;
    }
    &.is-active {
      b {
        @apply
        text-ui-100
        ;
      }
    }
    i {
      @apply
      not-italic
      h-[30px]
      w-[30px]
      leading-[30px]
      rounded-sm
      bg-gradient-to-b
      from-ui-900
      to-ui-800
      text-center
      font-headings
      text-lg
    }
  }
}


.bracket-item {
  @apply
  relative
  px-7
  min-w-xs
  flex
  flex-col
  justify-center
  items-stretch
  flex-1
  ;
  > div {
    > div {
      @apply
      relative
      ;
    }
  }
  .bracket-meta,
  .bracket-info {
    @apply
    h-6
    ;
  }
  .bracket-meta {
    @apply
    flex
    justify-between
    items-center
    text-xs
    leading-none
    ;
    > div:nth-child(1) {
      @apply
      flex
      gap-1
      text-ui-300
      ;
    }
    a {
      @apply
      text-interaction-500
      hover:text-interaction-300
      underline
      ;
    }
  }
  .bracket-info {
    @apply
    text-xs
    text-ui-400
    text-center
    ;
  }
  &.is-active {
    .bracket-teams {
      > li {
        @apply shadow-[0_0_0_1px_rgba(var(--color-error-300)/1)];
      }
    }
    .bracket-meta::after {
      @apply content-['']
      w-2
      h-2
      rounded-full
      bg-error-300/75
      animate-[live-glow_2s_linear_infinite]
      right-2;
    }
  }
}

@keyframes live-glow {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--color-error-300) / 25%);
  }
  50% {
    box-shadow: 0 0 0 0.25rem rgba(var(--color-error-300) / 35%);
  }
  100% {
    box-shadow: 0 0 0 0.5rem rgba(var(--color-error-300) / 0%);
  }
}

.bracket-round {
  @apply
  flex
  flex-col
  justify-items-stretch
  items-stretch
  flex-1
  max-w-xs
  opacity-0
  -translate-x-8
  animate-slide-in-right
  snap-mandatory
  ;

  &:first-child {
    .bracket-teams {
      &::before,
      &::after {
        @apply
        hidden
        ;
      }
    }
  }
  &:last-child {
    .bracket-item {
      &::before,
      &::after {
        @apply
        hidden
        ;
      }
    }
  }
  .bracket-title {
    @apply
    py-3
    leading-none
    flex-none
    text-center
    font-headings
    text-lg
    bg-ui-800/50
    backdrop-blur-sm
    rounded-lg
    mb-8
    mx-7
    text-ui-300
    whitespace-nowrap
    overflow-ellipsis
    ;
  }
  > ul {
    @apply
    flex
    flex-col
    items-stretch
    justify-around
    flex-1
    ;
    > li.bracket-item {
      @apply
      py-8
      ;
    }
    > .bracket-item {
      &::before {
        @apply
        content-['']
        absolute
        w-[calc(2rem-3px)]
        h-[calc(50%-1rem)]
        right-0
        ;
      }
      .bracket-teams {
        &::before,
        &::after {
          @apply
          content-['']
          absolute
          z-0
          w-[calc(2rem-3px)]
          h-8
          left-0
          -translate-x-px
          ;
        }
        &::before {
          @apply
          top-[calc(50%-2rem)]
          border-l
          border-b
          border-ui-400
          rounded-bl-xl
          translate-y-[0px]
        }
        &::after {
          @apply
          bottom-[calc(50%-2rem)]
          border-l
          border-t
          border-ui-400
          rounded-tl-xl
          -translate-y-[1px]
        }
      }
    }
    > .bracket-item:nth-child(odd) {
      &::before {
        @apply
        rounded-tr-xl
        border-t
        border-r
        border-ui-400
        top-[50%]
        ;
      }
    }
    > .bracket-item:nth-child(even) {
      &::before {
        @apply
        rounded-br-xl
        border-b
        border-r
        border-ui-400
        bottom-[50%]
        ;
      }
    }
  }
}

.bracket-item, 
.bracket-teams {
  &::before,
  &::after {
    @apply
    opacity-0
    animate-[bracket-connectors-slidein_0.75s_ease_forwards_0.75s]
    ;
  }
}

.bracket-round {
  &:nth-child(1) {
    --delay: 1;
  }
  &:nth-child(2) {
    --delay: 2;
  }
  &:nth-child(3) {
    --delay: 4;
  }
  &:nth-child(4) {
    --delay: 6;
  }
  &:nth-child(5) {
    --delay: 8;
  }
  &:nth-child(6) {
    --delay: 10;
  }
  animation-delay: calc(var(--delay, 1) * 0.1s);
}

@keyframes bracket-connectors-slidein {
  0%,
  20%,
  40%,
  60%,
  80% {
    opacity: 0;
  }
  30%,
  50%,
  70%,
  100% {
    opacity: 1;
  }
}

/* responsive */
.brackets-container.brackets-responsive {
  @apply
  block
  lg:grid
  ;
}

.brackets-container.brackets-responsive > .brackets, 
.brackets.brackets-responsive {

  @apply
  grid
  lg:flex
  ;
  .bracket-round {
    @apply
    max-w-lg
    ;
    .bracket-title {
      @apply
      mx-4
      md:mx-0
      lg:mx-7
      mt-8
      lg:mt-0
      mb-8
      lg:mb-8
      ;
    }
    > ul {
      @apply
      grid
      lg:flex
      grid-cols-1
      md:grid-cols-2
      gap-2
      lg:gap-0
      px-2
      lg:px-0
      ;
      .bracket-item {
        @apply
        px-2
        lg:px-7
        py-0
        lg:py-8
        min-w-[40%]
        lg:min-w-xs
      }
    }
  }
  .bracket-item,
  .bracket-teams {
    &::before,
    &::after {
      @apply
      border-ui-300/0
      lg:border-ui-300
      ;
    }
  }
}