/*----------------------------*/
/* BREADCRUMBGS */
/*----------------------------*/

.breadcrumbs {
  @apply
  inline-block
  ;

  > ol,
  > ul {
    @apply
    inline-flex
    items-center
    justify-start
    ;

    &,
    > li {
      @apply
      gap-1
      md:gap-2
      ;
    }
  
    > li {
      @apply 
      inline-flex
      items-center
      text-sm
      text-ui-300
      ;
  
      > a,
      > button,
      > div {
        @apply
        inline-flex 
        gap-2
        items-center
        text-sm
        text-ui-300
        rounded
        focus-visible:text-ui-100
        focus-visible:outline
        focus-visible:outline-offset-2
        focus-visible:outline-1
        focus-visible:outline-main
        ;
  
        > span:not(.icon) {
          @apply
          whitespace-nowrap
          overflow-hidden
          overflow-ellipsis
          ;
          &:not([class*="max-w"]) {
            @apply
            max-w-[20ch]
            ;
          }
        }
      }
  
      > a,
      > button,
      > div {
        @apply
        hover:text-ui-100
        active:opacity-50
        transition-colors
        duration-75
        ;
      }
  
      &:not(:first-child) {
        &::before {
          @apply
          font-icon
          content-['\ebb5']
          text-xl
          ;
        }
      }
    }
  }
}