@import "tailwindcss/components";

/*----------------------------*/
/* BUTTON */
/*----------------------------*/

button {
  text-align: inherit;
}

.button {
  @apply
  outline-none
  leading-[1]
  border-0
  inline-flex
  justify-center
  items-center
  cursor-pointer
  px-3
  py-2
  min-h-4
  transition-all
  duration-300
  ease-in-out
  text-ui-800
  scale-100
  select-none
  bg-[length:500%_auto]
  focus-visible:outline
  focus-visible:outline-offset-2
  focus-visible:outline-1
  focus-visible:outline-main
  font-body
  uppercase
  transform-gpu
  ;

  .icon {
    @apply
    font-icon
    ;
  }

  &:not([class*='button-secondary'], 
  [class*='button-tertiary'], 
  [class*='button-premium'], 
  [class*='button-claim'], 
  [class*='button-ghost']) {
    @apply
    bg-gradient-to-r
    from-interaction-500
    via-interaction-500
    to-interaction-300
    ;
    &.button-inverted {
      @apply
      bg-ui-900
      text-main
      ;
    }
  }
  &:not([class*='rounded']) {
    @apply
    rounded-full
    ;
  }

  &:not(.switch) {
    @apply
    gap-2
    ;
    > * {
      &:first-child {
        @apply
        ml-0.5
        ;
      }
      &:last-child {
        @apply
        mr-0.5
        ;
      }
      &:first-child:last-child {
        @apply
        mx-0
        ;
      }
      &:not([class*='icon']) {
        @apply
        mb-0
        ;
      }
    }
  }

  &:not([disabled]),
  &:not(.is-disabled) {
    &:hover,
    &:focus-visible {
      @apply 
      bg-right
      shadow-[inset_0_0_0_1px_rgba(255,255,255,1)]
      ;
    }
    &:active {
      &:hover,
      &:focus {
        @apply
        opacity-75
        scale-95
        ;
      }
    }
  }
  

  /* Variants */

  &.button-primary,
  &.button-claim {
    @apply 
    bg-gradient-to-r
    from-interaction-500
    via-interaction-500
    to-interaction-300
    shadow-[inset_0_0_0_1px_rgba(255,255,255,0)]
    ;
    
    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible,
      &.is-active {
        @apply
        shadow-[inset_0_0_0_1px_rgba(255,255,255,1)];
      }
    }

    &.button-inverted {
      @apply
      from-ui-900
      via-ui-900
      to-ui-600
      text-main
      ;
      &:not([disabled]),
      &:not(.is-disabled) {
        &:hover,
        &:focus-visible,
        &.is-active {
          @apply

          shadow-[inset_0_0_0_1px_rgba(255,255,255,0)];
        }
      }
      
    }
  }
  &.button-secondary {
    @apply 
    bg-ui-800/0
    text-ui-200
    shadow-[inset_0_0_0_1px_rgb(var(--color-ui-200))]
    ;

    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible,
      &.is-active {
        @apply
        text-ui-100
        shadow-[inset_0_0_0_1px_rgb(var(--color-ui-100))];
      }
    }

    &.button-inverted {
      @apply
      text-ui-900
      shadow-[inset_0_0_0_1px_rgb(var(--color-ui-900))]
      ;
      &:not([disabled]),
      &:not(.is-disabled) {
        &:hover,
        &:focus-visible,
        &.is-active {
          @apply
          text-ui-600
          shadow-[inset_0_0_0_1px_rgb(var(--color-ui-600))];
        }
      }
    }
  }
  &.button-tertiary {
    @apply 
    bg-ui-700
    text-ui-300
    shadow-[inset_0_0_0_1px_rgba(var(--color-ui-400)/0%)]
    ;

    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible,
      &.is-active {
        @apply
        bg-ui-600
        text-ui-200
        shadow-[inset_0_0_0_1px_rgba(var(--color-ui-400)/0%)]
        ;
      }
    }
  }
  &.button-premium {
    @apply 
    bg-gradient-to-r
    from-premium-500
    via-premium-500
    to-premium-300
    shadow-[inset_0_0_0_1px_rgba(var(--color-premium-300),0)]
    ;

    > * {
      @apply
      drop-shadow-[0_-1px_0_rgba(var(--color-premium-300)/50%)]
      ;
    }

    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible,
      &.is-active {
        @apply
        shadow-[inset_0_0_0_1px_rgba(var(--color-premium-300),50%)]
        ;
      }
    }
  }
  &.button-error {
    @apply 
    bg-gradient-to-r
    from-error-500
    via-error-500
    to-error-300
    shadow-[inset_0_0_0_1px_rgba(var(--color-error-300),0)]
    ;

    > * {
      @apply
      drop-shadow-[0_-1px_0_rgba(var(--color-error-300)/50%)]
      ;
    }

    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible,
      &.is-active {
        @apply
        shadow-[inset_0_0_0_1px_rgba(var(--color-error-300),50%)]
        ;
      }
    }
  }
  &.button-success {
    @apply 
    bg-gradient-to-r
    from-success-500
    via-success-500
    to-success-300
    shadow-[inset_0_0_0_1px_rgba(var(--color-success-300),0)]
    ;

    > * {
      @apply
      drop-shadow-[0_-1px_0_rgba(var(--color-success-300)/50%)]
      ;
    }

    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible,
      &.is-active {
        @apply
        shadow-[inset_0_0_0_1px_rgba(var(--color-success-300),50%)]
        ;
      }
    }
  }
  /*
  &.button-claim {
    @apply 
    bg-gradient-to-r
    from-purple-700
    via-info-500
    to-info-500
    text-mono-100
    bg-[length:200%_auto]
    shadow-[inset_0_0_0_1px_rgba(var(--color-info-300),0)]
    ;

    > * {
      @apply
      shadow-[inset_0_0_0_1px_rgba(var(--color-info-300),50%)]
      ;
    }

    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible,
      &.is-active {
        @apply
        shadow-[inset_0_0_0_1px_rgba(var(--color-info-300),50%)]
      }
    }
  }
  */
  &[class*='rounded-full'],
  &.button-play {
    @apply
    px-2
    ;
  }
  &.button-play {
    @apply
    rounded-full
    gap-3
    ;
    
    .icon {
      @apply
      transition-transform
      duration-200
      ease-in-out
      scale-150
      ml-0
      ;

      ~ *:last-child {
        @apply
        mr-1
        ;
      }
    }

    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible,
      &.is-active {
        .icon {
          @apply
          scale-100
          ;
        }
      }
    }
  }

  &.button-ghost {
    @apply 
    bg-ui-800/0
    bg-gradient-to-r
    from-ui-800/0
    via-ui-800/0
    to-ui-800/0
    shadow-[inset_0_0_0_1px_rgba(255,255,255,0)]
    text-ui-300
    ;
    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible,
      &.is-active {
        @apply
        bg-ui-700
        text-ui-200
        shadow-[inset_0_0_0_1px_rgba(var(--color-ui-400)/0%)]
      }
    }
  }

  /* Sizes */

  &.button-lg {
    @apply
    py-2
    px-5
    ;
    > * {
      &:not([class*="text-"]) {
        @apply
        text-xl
        ;
      }
    }
    &[data-feedback]::before {
      @apply
      text-xl
      ;
    }
    &[class*='rounded-full'],
    &.button-play {
      @apply
      px-2
      ;
    }
  }
  &.button-md {
    @apply
    py-2
    ;
    &[class*='rounded-full'],
    &.button-play {
      @apply
      px-2
      ;
    }
  }
  &.button-sm {
    @apply
    py-1.5
    ;
    > * {
      &:not([class*="text-"]) {
        @apply
        text-sm
        ;
      }
    }
    &[data-feedback]::before {
      @apply
      text-sm
      ;
    }
    &[class*='rounded-full'],
    &.button-play {
      @apply
      px-1.5
      ;
    }
  }
  &.button-xs {
    @apply
    py-1
    ;
    > * {
      &:not([class*="text-"]) {
        @apply
        text-xs
        ;
      }
    }
    &[data-feedback]::before {
      @apply
      text-xs
      ;
    }
    &[class*='rounded-full'],
    &.button-play {
      @apply
      px-1
      ;
    }
  }

  /* Currency */

  &.button-currency {
    @apply
    p-px
    justify-items-stretch
    h-[32px]
    gap-0
    ;
    
    > div {
      @apply
      flex
      items-center
      justify-center
      self-stretch
      relative
      ;

      &:first-child {
        @apply
        flex-1
        px-3
        ;
      }

      &:last-child {
        @apply
        bg-ui-800
        px-2
        m-0
        transition-all
        duration-200
        rounded-full
        flex
        items-center
        gap-1
        ;
      }
    }
    img {
      @apply
      transition
      duration-200
      ;
    }
    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible,
      &.is-active {
        img {
          @apply
          scale-110
          ;
        }
        > div:last-child {
          @apply
          bg-gradient-to-b
          from-ui-800
          to-ui-800
          ;
        }
      }
    }
    &.button-coin {
      > div:last-child {
        span {
          @apply
          text-premium-500
          ;
        }
      }
    }
    &.button-token {
      > div:last-child {
        span {
          @apply
          text-purple-500
          ;
        }
      }
    }
    &.button-ticket {
      > div:last-child {
        span {
          @apply
          text-premium-700
          ;
        }
      }
    }
    &.button-lg {
      @apply
      h-9
      ;
    }
    &.button-sm {
      @apply
      h-[26px]
      ;
    }
    &.button-xs {
      @apply
      h-[20px]
      ;
    }
  }

  /* loading */

  &.is-loading {
    @apply
    pointer-events-none
    ;
  }

  &.is-loading {
    &:not([class*='currency']),
    &.button-currency > *:first-child {
      > span {
        @apply
        opacity-0
        ;
      }
      &::after {
        @apply
        content-['']
        absolute
        inset-auto
        h-6
        w-6
        block
        border-2
        border-ui-800
        border-l-ui-100
        opacity-100
        rounded-full
        mx-auto
        left-[calc(50%-0.75rem)]
        animate-[button-loader-rotate_1s_linear_infinite]
        bg-none
        ;
      }
    }

    &.button-primary {
      &:not([class*='currency']),
      &.button-currency > *:first-child {
        &::after {
          @apply
          border-ui-800/25
          border-l-ui-800
          ;
        }
      }
    }
    &.button-secondary {
      &:not([class*='currency']),
      &.button-currency > *:first-child {
        &::after {
          @apply
          border-ui-700
          border-l-ui-300
          ;
        }
      }
    }
    &.button-tertiary {
      &:not([class*='currency']),
      &.button-currency > *:first-child {
        &::after {
          @apply
          border-ui-600
          border-l-ui-300
          ;
        }
      }
    }
    &.button-premium {
      &:not([class*='currency']),
      &.button-currency > *:first-child {
        &::after {
          @apply
          border-ui-800/25
          border-l-ui-800
          ;
        }
      }
    }
    &.button-claim {
      &:not([class*='currency']),
      &.button-currency > *:first-child {
        &::after {
          @apply
          border-ui-100/25
          border-l-ui-100
          ;
        }
      }
    }
  }

  /* Disabled */

  &.is-disabled,
  &:disabled {
    @apply
    pointer-events-none
    select-none
    bg-disabled-700
    bg-gradient-to-r
    from-disabled-700
    via-disabled-700
    to-disabled-700
    text-disabled-300
    shadow-[inset_0_0_0_1px_rgba(var(--color-disabled-700),50%)]
    opacity-100
    ;
    > * {
      @apply
      drop-shadow-[0_-1px_0_rgba(var(--color-disabled-700)/0%)]
      ;
    }
    &.button-currency > div:last-child {
      @apply
      from-disabled-500/50
      via-disabled-500/50
      to-disabled-500/50
      ;
    }
  }

  /*
&.is-disabled,
  &:disabled {
    @apply
    pointer-events-none
    select-none
    bg-disabled-500
    from-disabled-500
    via-disabled-500
    to-disabled-500
    text-disabled-300
    shadow-[inset_0_0_0_1px_rgba(var(--color-ui-600),50%)]
    ;
    > * {
      @apply
      drop-shadow-[0_-1px_0_rgba(var(--color-ui-700)/0%)]
      ;
    }
  }
  */

  /* Shining */

  &.is-shining {
    @apply
    relative
    overflow-hidden
    ;

    &::before,
    &::after {
      @apply
      content-['']
      absolute
      inset-0
      bg-[length:200%_auto]
      animate-[button-shining-rays_2s_linear_infinite]
      bg-[linear-gradient(45deg,#fff0_45%,#fffc_50%,#fff0_55%,#fff0)]
      ;
    }

    &::before {
      animation-delay: 300ms;
    }
  }

  /* Close */ 
  &.button-close {
    @apply
    rounded-full
    hover:rotate-90
    transition-all
    duration-300
    ease-[cubic-bezier(.8,0,.3,1)]
    ;

    &:not(.button-sm) {
      @apply
      h-10
      w-10
      ;
    }

    &.button-sm {
      @apply
      h-7
      w-7
      ;
    }

    > .icon {
      @apply
      block
      transform-gpu
      transition-all
      duration-300
      ease-[cubic-bezier(.8,0,.3,1)]
      ;
    }

    &:hover {
      > .icon {
        @apply
        scale-100
        ;
      }
    }

    &:where(.button-ghost, .button-secondary, .button-tertiary) {
      &:hover {
        > .icon {
          @apply
          text-ui-100
          ;
        }
      }
    }
  }
}

@keyframes button-loader-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes button-shining-rays {
  0% {
    background-position:-50%
  } 25% {
    background-position:-50%
  } 50%, 100% {
    background-position:150%
  }
}

.button {
  > [data-badge="."] {
    &::after {
      @apply
      -translate-y-2
      translate-x-0
      ;
    }
  }
}

.button {
  &[data-feedback]:not([data-feedback=""]):not([data-feedback-icon]) {
    @apply
    overflow-hidden
    ;
    &::before {
      @apply
      content-[attr(data-feedback)]
      absolute
      inset-x-0
      animate-[button-feedback-message_4s_cubic-bezier(0.9,0,0,1)_forwards]
      text-center
      ;
    }
    > * {
      @apply
      animate-[button-feedback-label_4s_cubic-bezier(1,0,0,0.9)_forwards]
      ;
    }
  }
}

.button {
  &[data-feedback][data-feedback-icon]:not([data-feedback=""]) {
    @apply
    relative
    ;
    &::before {
      @apply
      content-[attr(data-feedback)]
      absolute
      animate-[button-feedback-tooltip_4s_cubic-bezier(0.9,0,0,1)_forwards]
      text-center
      inset-x-full
      rounded-full
      font-body
      font-normal
      text-sm
      block
      left-[50%]
      bottom-[100%]
      py-2
      px-3
      pointer-events-none
      leading-tight
      -translate-x-[50%]
      translate-y-0.5
      max-w-[20rem]
      w-[max-content]
      bg-ui-600/95
      ;
    }
    &::after {
      @apply
      font-icon
      absolute
      inset-x-0
      animate-[button-feedback-icon_4s_cubic-bezier(0.9,0,0,1)_forwards]
      text-center
      ;
    }
    > * {
      @apply
      animate-[button-feedback-icon-label_4s_cubic-bezier(1,0,0,0.9)_forwards]
      ;
    }
  }
  &[data-feedback-icon="success"]:not([data-feedback=""]) {
    &::before {
      @apply
      text-interaction-500
      ;
    }
    &::after {
      @apply
      content-['\ec14']
      text-interaction-500
      ;
    }
    &.button-primary,
    &.button-error,
    &.button-premium {
      &::after {
        @apply
        text-ui-800
        ;
      }
    }
    &.button-claim {
      &::after {
        @apply
        text-mono-100
        ;
      }
    }
  }
  &[data-feedback-icon="error"]:not([data-feedback=""]) {
    &::before {
      @apply
      text-error-500
      ;
    }
    &::after {
      @apply
      content-['\ebd5']
      text-error-500
      ;
    }
    &.button-primary,
    &.button-error,
    &.button-premium {
      &::after {
        @apply
        text-ui-800
        ;
      }
    }
    &.button-claim {
      &::after {
        @apply
        text-mono-100
        ;
      }
    }
  }
  &[data-feedback-icon="attention"]:not([data-feedback=""]) {
    &::before {
      @apply
      text-attention-500
      ;
    }
    &::after {
      @apply
      content-['\eb5d']
      text-attention-500
      ;
    }
    &.button-primary,
    &.button-error,
    &.button-premium {
      &::after {
        @apply
        text-ui-800
        ;
      }
    }
    &.button-claim {
      &::after {
        @apply
        text-mono-100
        ;
      }
    }
  }
}

.button {
  &[data-feedback=""] {
    &::before,
    &::after {
      @apply
      hidden
      ;
    }
  }
}

@keyframes button-feedback-message {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(3rem);
    opacity: 0;
  }
}
@keyframes button-feedback-tooltip {
  0% {
    transform: translate(-50%, -0.1rem);
    opacity: 0;
  }
  10% {
    transform: translate(-50%, -0.35rem);
    opacity: 1;
  }
  90% {
    transform: translate(-50%, -0.35rem);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -0.1rem);
    opacity: 0;
  }
}
@keyframes button-feedback-label {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  10% {
    transform: translateY(-3rem);
    opacity: 0;
  }
  90% {
    transform: translateY(-3rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes button-feedback-icon {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  10% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
  90% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
}
@keyframes button-feedback-icon-label {
  0% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
  10% {
    transform: scale(0) rotate(-45deg);
    opacity: 0;
  }
  90% {
    transform: scale(0) rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
}


/* responsive sizes */

@media only screen and (min-width: 640px) {
	.button {
    &.sm\:button-lg {
      @apply
      py-2
      px-5
      ;
      > * {
        &:not([class*="text-"]) {
          @apply
          text-xl
          ;
        }
      }
      &[data-feedback]::before {
        @apply
        text-xl
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-2
        ;
      }
    }
    &.sm\:button-md {
      @apply
      py-2
      ;
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-2
        ;
      }
    }
    &.sm\:button-sm {
      @apply
      py-1.5
      ;
      > * {
        &:not([class*="text-"]) {
          @apply
          text-sm
          ;
        }
      }
      &[data-feedback]::before {
        @apply
        text-sm
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-1.5
        ;
      }
    }
    &.sm\:button-xs {
      @apply
      py-1
      ;
      > * {
        &:not([class*="text-"]) {
          @apply
          text-xs
          ;
        }
      }
      &[data-feedback]::before {
        @apply
        text-xs
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-1
        ;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
	.button {
    &.md\:button-lg {
      @apply
      py-2
      px-5
      ;
      > * {
        &:not([class*="text-"]) {
          @apply
          text-xl
          ;
        }
      }
      &[data-feedback]::before {
        @apply
        text-xl
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-2
        ;
      }
    }
    &.md\:button-md {
      @apply
      py-2
      ;
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-2
        ;
      }
    }
    &.md\:button-sm {
      @apply
      py-1.5
      ;
      > * {
        &:not([class*="text-"]) {
          @apply
          text-sm
          ;
        }
      }
      &[data-feedback]::before {
        @apply
        text-sm
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-1.5
        ;
      }
    }
    &.md\:button-xs {
      @apply
      py-1
      ;
      > * {
        &:not([class*="text-"]) {
          @apply
          text-xs
          ;
        }
      }
      &[data-feedback]::before {
        @apply
        text-xs
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-1
        ;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
	.button {
    &.lg\:button-lg {
      @apply
      py-2
      px-5
      ;
      > * {
        &:not([class*="text-"]) {
          @apply
          text-xl
          ;
        }
      }
      &[data-feedback]::before {
        @apply
        text-xl
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-2
        ;
      }
    }
    &.lg\:button-md {
      @apply
      py-2
      ;
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-2
        ;
      }
    }
    &.lg\:button-sm {
      @apply
      py-1.5
      ;
      > * {
        &:not([class*="text-"]) {
          @apply
          text-sm
          ;
        }
      }
      &[data-feedback]::before {
        @apply
        text-sm
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-1.5
        ;
      }
    }
    &.lg\:button-xs {
      @apply
      py-1
      ;
      > * {
        &:not([class*="text-"]) {
          @apply
          text-xs
          ;
        }
      }
      &[data-feedback]::before {
        @apply
        text-xs
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-1
        ;
      }
    }
  }
}
@media only screen and (min-width: 1280px) {
	.button {
    &.xl\:button-lg {
      @apply
      py-2
      px-5
      ;
      > * {
        &:not([class*="text-"]) {
          @apply
          text-xl
          ;
        }
      }
      &[data-feedback]::before {
        @apply
        text-xl
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-2
        ;
      }
    }
    &.xl\:button-md {
      @apply
      py-2
      ;
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-2
        ;
      }
    }
    &.xl\:button-sm {
      @apply
      py-1.5
      ;
      > * {
        &:not([class*="text-"]) {
          @apply
          text-sm
          ;
        }
      }
      &[data-feedback]::before {
        @apply
        text-sm
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-1.5
        ;
      }
    }
    &.xl\:button-xs {
      @apply
      py-1
      ;
      > * {
        &:not([class*="text-"]) {
          @apply
          text-xs
          ;
        }
      }
      &[data-feedback]::before {
        @apply
        text-xs
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-1
        ;
      }
    }
  }
}