/*----------------------------*/
/* CARD */
/*----------------------------*/


/* content */


.card, 
.card-brawl, 
.card-mission, 
.card-tournament {
  @apply
  transform-gpu
  /*overflow-hidden*/
  relative
  focus-visible:outline
  focus-visible:outline-offset-2
  focus-visible:outline-1
  focus-visible:outline-main
  ;
  &:not([class*='rounded']) {
    @apply
    rounded-lg
    ;
  }

  &:not([class*='surface']) {
    @apply
    bg-ui-800
    ;
  }
}

.card {
  .card-image {
    @apply
    flex
    items-center
    justify-center
    rounded-t
    overflow-hidden
    ;
  }
  
  .card-body {
    @apply
    relative
    z-10
    flex
    flex-1
    flex-col
    p-6
    gap-5
    ;
  }

  .card-title {
    @apply
    leading-none
    ;
    &:not([class*='text-ui']):not([class*='text-main']) {
      @apply
      text-ui-100
      ;
    }
  }

  .card-actions {
    @apply
    leading-none
    flex
    flex-wrap
    items-start
    gap-2
    ;
  }

  &.card-cover {
    .card-image {
      
      &,
      figure {
        @apply
        absolute
        inset-0
        z-0
        ;

        img {
          @apply
          h-full
          object-cover
          ;
        }
      }
    }
    &::before {
      @apply
      content-['']
      absolute
      z-10
      inset-0
      bg-ui-900
      opacity-80
      ;
    }
  }
}

/* missions & tournaments */

.card-mission,
.card-tournament {
  @apply
  w-full
  relative
  flex
  flex-col
  items-stretch
  justify-between
  transform-gpu
  ;
  .card-decoration {
    @apply
    z-20
    ;
  }
  .card-body {
    @apply
    relative
    z-20
    flex
    flex-col
    items-start
    space-y-3
    ;
    .progressbar {
      @apply
      relative
      -z-10
      ;
    }
  }
  .card-title {
    @apply
    leading-none
    text-ui-100
    uppercase
    ;
  }
  .card-meta {
    @apply
    flex
    w-full
    ;
  }
  .card-bg {
    &::before {
      @apply
      content-['']
      absolute
      z-10
      inset-0
      ;
    }
  }
}

/* card-tournament */

.card-tournament {
  @apply
  aspect-square
  relative
  ;

  .card-decoration {
    @apply
    flex
    justify-between
    items-start
    p-2
    ;
    > img {
      @apply
      justify-self-stretch
      max-h-[5rem]
      max-w-[65%]
      mt-1
      ml-1
      drop-shadow-lg
      ;
    }
  }
  .card-body {
    @apply
    p-4
    ;
  }
  .card-title {
    @apply
    mt-4
    text-2xl
    ;
  }
  .card-meta {
    @apply
    flex
    justify-start
    items-stretch
    mt-4
    ;

    > div {
      @apply
      flex
      flex-col
      items-start
      justify-center
      ;
      &:not(:last-child) {
        @apply
        mr-4
        pr-4
        border-r
        border-ui-300/25
        ;
      }
    }

    label {
      @apply
      text-sm
      text-ui-300
      leading-none
      mb-2
      ;
    }
    ul {
      @apply
      p-0
      m-0
      text-sm
      text-ui-200
      ;
      > li {
        @apply
        pl-4
        relative
        ;
        &::before {
          @apply
          content-['']
          absolute
          left-0
          top-[calc(50%-(0.5rem/2))]
          w-2
          h-2
          bg-gradient-radial
          from-ui-300
          to-ui-400/75
          rounded-full
          shadow-[0_0_0_2px_rgba(255,255,255,0.15)]
          ;
        }
      }
    }
  }
  .card-bg {
    &::before {
      background-image: linear-gradient(to bottom, rgba(var(--color-ui-900) / 75%) 15%, rgba(var(--color-ui-900) / 50%) 33%, rgba(var(--color-ui-900) / 95%) 66%, rgba(var(--color-ui-900) / 100%) 100%)
    }
  }
}

/* card-mission */

.card-mission {
  @apply
  aspect-video
  ;
  
  .card-body {
    @apply
    bg-ui-800
    p-2
    rounded-b
    ;

    .card-title {
      @apply
      text-2xl
      mt-1
      ;
    }
    .card-meta {
      @apply
      items-center
      justify-between
      text-sm
      text-ui-200
      mb-2.5
      ;

      > * {
        &::last-child {
          @apply
          text-right
          ;
        }
      }
    }
  }

  .card-bg {
    &::before {
      @apply
      bg-gradient-to-b
      from-ui-900/0
      via-ui-900/25
      to-ui-900/50
      ;
    }
  }

  &.card-locked,
  &.card-unlocked {
    .progressbar {
      > * {
        background-image: linear-gradient(to right, rgb(var(--color-premium-300)) 0px, rgb(var(--color-premium-700)) 200px, rgb(var(--color-premium-300)) 400px);
      }
    }
    .card-decoration {
      @apply 
      flex
      flex-1
      items-center
      inset-0
      ;
      > img {
        @apply
        relative
        z-30
        h-auto
        max-h-[50%]
        ;
      }
    }
  }

  &.card-unlocked {
    .card-decoration {
      @apply
      items-start
      ;
      &::after {
        @apply
        font-icon
        text-3xl
        content-['\ebe9']
        absolute
        right-1
        top-1
        leading-none
        z-10
        rounded-full
        bg-gradient-to-b
        from-ui-500
        to-ui-800
        text-premium-300
        drop-shadow-[0_3px_1.5px_rgba(0,0,0,0.5)]
        ;
      }
    }
  }

  &.card-locked {
    @apply
    transform-gpu
    overflow-hidden
    ;

    .card-decoration {
      @apply 
      drop-shadow-[0_3px_1.5px_rgba(0,0,0,0.5)]
      ;
      > img {
        @apply
        w-auto
        mx-auto
        translate-y-4
        ;
      }
      &::before {
        @apply
        content-['']
        absolute
        z-0
        top-0
        left-0
        right-0
        h-10
        bg-gradient-to-b
        from-premium-300
        to-premium-500
        text-ui-800
        ;
        clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
      }
      &::after {
        @apply
        font-icon
        content-['\ea12']
        absolute
        z-10
        w-8
        h-8
        rounded-full
        top-1
        left-[calc(50%-1rem)]
        bg-gradient-to-b
        from-ui-900
        via-ui-800
        to-ui-700
        text-premium-300
        shadow-[0_0_0_1px_rgb(var(--color-premium-300))]
        text-center
        leading-[2]
        ;
      }
    }
    .card-bg {
      * {
        @apply
        grayscale
        ;
      }

      &::before {
        @apply
        bg-ui-800/75
      }
    }
  }
}

.card-bg {
  @apply
  overflow-hidden
  ;
  &,
  > * {
    @apply
    absolute
    z-0
    bg-cover
    bg-center
    inset-0
    bg-no-repeat
    rounded-lg
    ;
  }
}

.card-interactive {
  @apply
  cursor-pointer
  ;
  .card-bg {
    * {
      @apply
      transition-all
      duration-500
      ease-[cubic-bezier(0.7,0,0.3,1)]
      ;
    }
  }
  &:hover {
    .card-bg {
      * {
        @apply
        scale-110
        ;
      }
    }
  }
  &:active {
    &:hover,
    &:focus {
      @apply
      opacity-75
      ;
    }
  }
}

/* card-brawl */

.card-brawl {
  @apply
  grid
  grid-cols-3
  items-stretch
  ;
  &:not([class*="h-"]) {
    @apply
    min-h-[15rem]
    ;
  }

  .card-image {
    @apply
    relative
    col-span-3
    md:col-span-1
    flex
    flex-col
    items-start
    justify-between
    h-full
    aspect-video
    md:aspect-auto
    ;

    > .card-image-content {
      @apply
      relative
      z-10
      flex
      flex-col
      h-full
      items-start
      justify-between
      p-4
      ;
    }

    > .card-image-bg {
      @apply
      absolute
      z-0
      right-0
      inset-y-0
      w-full
      ;
      &::before,
      &::after {
        @apply
        content-[""]
        absolute
        z-10
        inset-y-0
        w-1/2
        ;
      }
      &::before {
        @apply
        left-0
        bg-gradient-to-r
        from-ui-800/95
        via-ui-800/70
        to-ui-800/0
        ;
      }
      &::after {
        @apply
        right-0
        bg-gradient-to-r
        from-ui-800/0
        to-ui-800
        ;
      }
      > img {
        @apply
        absolute
        z-0
        object-right
        object-cover
        xl:object-cover
        inset-0
        w-full
        h-full
        ;
      }
    }
  }

  .card-content {
    @apply
    relative
    col-span-3
    md:col-span-2
    flex
    flex-col
    md:flex-row
    p-4
    border
    border-ui-700
    md:border-none
    ;

    &:not([class*="items-"]) {
      @apply
      items-stretch
      ;
    }
    &:not([class*="justify-"]) {
      @apply
      justify-between
      ;
    }

    > .card-body,
    > .card-meta {
      @apply
      flex
      gap-4
      ;
    }

    > .card-body {
      @apply
      flex-col
      items-start
      ;
      &:not([class*="items-"]) {
        @apply
        items-stretch
        ;
      }
      &:not([class*="justify-"]) {
        @apply
        justify-between
        ;
      }
    }

    > .card-meta {
      @apply
      grid
      grid-flow-row
      auto-rows-auto
      justify-center
      md:justify-end
      border
      border-ui-700
      md:border-none
      mt-4
      pt-4
      md:mt-0
      md:pt-0
      ;
      &:not([class*="items-"]) {
        @apply
        items-start
        md:items-end
        ;
      }
      &:not([class*="justify-"]) {
        @apply
        justify-center
        md:justify-between
        ;
      }
      > *:first-child:last-child {
        @apply
        row-span-2
        ;
      }
    }
  }
}

/* card brawl secondary */

.card-brawl.card-secondary {
  
  & {
    @apply
    flex-none
    w-full
    max-w-[calc(100vw-4rem)]
    transition-all
    duration-300
    ease-[cubic-bezier(.8,0,.3,1)]
    transform-gpu
    leading-tight
    ;
    > .card-image,
    > .card-content {
      @apply
      relative
      z-10
      ;
    }
    > .card-content {
      @apply
      flex-col
      md:flex-col
      md:col-span-3
      bg-ui-800
      ;
      > .card-meta {
        @apply
        mt-4
        flex
        justify-between
        items-center
        ;
        &:not([class*="items-"]) {
          @apply
          md:items-stretch
          ;
        }
        &:not([class*="justify-"]) {
          @apply
          md:justify-between
          ;
        }
        &:last-child {
          @apply
          border
          pt-4
          border-ui-700
          ;
        }
      }
    }
    > .card-image {
      > .card-image-content {
        @apply
        w-full
        flex-row
        items-start
        justify-between
        p-2
        ;
      }
    }
    > .card-image-bg {
      @apply
      absolute
      z-0
      right-0
      inset-y-0
      w-full
      rounded
      overflow-hidden
      ;
      > img {
        @apply
        aspect-auto
        absolute
        inset-0
        object-cover
        object-center
        h-full
        transition-all
        duration-300
        ease-[cubic-bezier(.8,0,.3,1)]
        ;
      }
    }
    > .card-overlay {
      @apply
      absolute
      z-20
      inset-0
      backdrop-blur
      rounded-lg
      flex
      flex-col
      items-center
      justify-center
      bg-ui-800/90
      ;
      > div {
        @apply
        relative
        z-10
        flex
        flex-col
        items-center
        justify-center
        gap-2
        ;
      }
      > img {
        @apply
        absolute
        z-0
        w-full
        h-full
        object-cover
        object-center
        ;
      }
      ~ * {
        @apply
        pointer-events-none
        ;
        &.card-image-bg {
          @apply
          mix-blend-luminosity
          ;
          > img {
            @apply
            grayscale
            ;
          }
        }
        .card-status {
          @apply
          text-ui-300
          ;
        }
      }
    }
    .card-status {
      @apply
      text-blue-300
      ;
    }
  }

  & {
    @apply
    grid-cols-1
    md:max-w-[397px]
    ;
    > .card-image {
      @apply
      md:col-span-3
      md:aspect-[16/6]
      ;
    }
    > .card-content {
      @apply
      rounded-b
      ;
    }
  }
  
  &.card-horizontal {
    @apply
    grid-cols-5
    grid-rows-none
    md:max-w-[809px]
    min-h-10
    ;
    > .card-image {
      @apply
      order-2
      col-span-2
      ;
    }
    > .card-content {
      @apply
      order-1
      col-span-3
      rounded-l-lg
      rounded-r-none
      ;
    }
    > .card-image-bg {
      @apply
      left-[50%]
      w-auto
      ;
      &::before {
        @apply
        content-['']
        absolute
        z-10
        w-1/3
        inset-y-0
        bg-gradient-to-r
        from-ui-800
        via-ui-800/75
        to-ui-800/0
        ;
      }
      > img {
        @apply
        z-0
        left-auto
        ;
      }
    }
  }
}

/* responsive card brawl secondary stacked  */

@media only screen and (min-width: 640px) {
	.card-brawl.card-secondary {
    &.sm\:card-horizontal {
      @apply
      grid-cols-5
      grid-rows-none
      w-full
      max-w-[calc(100vh-4rem)]
      md:max-w-[809px]
      min-h-10
      ;
      > .card-image {
        @apply
        order-2
        col-span-2
        ;
      }
      > .card-content {
        @apply
        order-1
        col-span-3
        rounded-l-lg
        rounded-r-none
        ;
      }
      > .card-image-bg {
        @apply
        left-[50%]
        w-auto
        ;
        &::before {
          @apply
          content-['']
          absolute
          z-10
          w-1/3
          inset-y-0
          bg-gradient-to-r
          from-ui-800
          via-ui-800/75
          to-ui-800/0
          ;
        }
        > img {
          @apply
          z-0
          left-auto
          ;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
	.card-brawl.card-secondary {
    &.md\:card-horizontal {
      @apply
      grid-cols-5
      grid-rows-none
      w-full
      max-w-[calc(100vh-4rem)]
      md:max-w-[809px]
      min-h-10
      ;
      > .card-image {
        @apply
        order-2
        col-span-2
        ;
      }
      > .card-content {
        @apply
        order-1
        col-span-3
        rounded-l-lg
        rounded-r-none
        ;
      }
      > .card-image-bg {
        @apply
        left-[50%]
        w-auto
        ;
        &::before {
          @apply
          content-['']
          absolute
          z-10
          w-1/3
          inset-y-0
          bg-gradient-to-r
          from-ui-800
          via-ui-800/75
          to-ui-800/0
          ;
        }
        > img {
          @apply
          z-0
          left-auto
          ;
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
	.card-brawl.card-secondary {
    &.lg\:card-horizontal {
      @apply
      grid-cols-5
      grid-rows-none
      w-full
      max-w-[calc(100vh-4rem)]
      md:max-w-[809px]
      min-h-10
      ;
      > .card-image {
        @apply
        order-2
        col-span-2
        ;
      }
      > .card-content {
        @apply
        order-1
        col-span-3
        rounded-l-lg
        rounded-r-none
        ;
      }
      > .card-image-bg {
        @apply
        left-[50%]
        w-auto
        ;
        &::before {
          @apply
          content-['']
          absolute
          z-10
          w-1/3
          inset-y-0
          bg-gradient-to-r
          from-ui-800
          via-ui-800/75
          to-ui-800/0
          ;
        }
        > img {
          @apply
          z-0
          left-auto
          ;
        }
      }
    }
  }
}
@media only screen and (min-width: 1280px) {
	.card-brawl.card-secondary {
    &.xl\:card-horizontal {
      @apply
      grid-cols-5
      grid-rows-none
      w-full
      max-w-[calc(100vh-4rem)]
      md:max-w-[809px]
      min-h-10
      ;
      > .card-image {
        @apply
        order-2
        col-span-2
        ;
      }
      > .card-content {
        @apply
        order-1
        col-span-3
        rounded-l-lg
        rounded-r-none
        ;
      }
      > .card-image-bg {
        @apply
        left-[50%]
        w-auto
        ;
        &::before {
          @apply
          content-['']
          absolute
          z-10
          w-1/3
          inset-y-0
          bg-gradient-to-r
          from-ui-800
          via-ui-800/75
          to-ui-800/0
          ;
        }
        > img {
          @apply
          z-0
          left-auto
          ;
        }
      }
    }
  }
}

/* loading */

.card-mission,
.card-tournament,
.card-brawl {
  &.is-active {
    &::after {
      @apply
      content-['']
      absolute
      z-50
      inset-0
      rounded
      pointer-events-none
      animate-[card-glow_2s_cubic-bezier(.4,0,.6,1)_infinite]
      ;
    }
    .card-status {
      @apply
      animate-pulse
      text-main
      ;
    }
  }
  &.is-inactive {
    .card-image-bg {
      @apply
      mix-blend-luminosity
      ;
      > img {
        @apply
        grayscale
        opacity-50
        ;
      }
    }
    .card-status {
      @apply
      text-ui-300
      ;
    }
  }
  &.is-loading {
    @apply
    relative
    pointer-events-none
    border-t
    border-t-ui-700
    bg-ui-800
    bg-[length:800px_100%]
    bg-[-200%_center]
    bg-no-repeat
    animate-[card-loader_1s_linear_infinite]
    ;

    &,
    [class*="text-"] {
      @apply
      text-ui-800/0;
    }
    background-image: linear-gradient(to right, rgba(var(--color-ui-800) / 100%) 8%, rgba(var(--color-ui-700) / 100%) 18%, rgba(var(--color-ui-800) / 100%) 33%);

    :where(img, .card-decoration::before, .card-decoration::after, .chip > *, .card-bg, .card-meta > * > *, .avatar) {
      @apply
      opacity-0
      ;
    }

    *[class*='bg-'],
    .card-content {
      @apply
      bg-ui-800/0
      from-ui-800/0
      via-ui-800/0
      to-ui-800/0
      ;
    }

    *[class*='border-'] {
      @apply
      border-ui-800/0
      ;
    }

    .card-meta > div:not(:last-child) {
      @apply
      border-ui-700
      ;
    }
    
    .card-title,
    .card-meta > *:not(.chip) {
      @apply
      relative
      text-ui-300/0
      ;
      &::after {
        @apply
        absolute
        top-0
        left-0
        content-['']
        block
        bg-ui-600/25
        rounded
        ;
      }
    }
    .card-title {
      &::after {
        @apply
        w-2/3
        h-6
        ;
      }
    }
    .card-meta > * {
      @apply
      text-ui-200/0
      ;
      &::after {
        @apply
        w-1/2
        h-full
        ;
      }
    }
    > * {
      @apply
      text-ui-200/0
      bg-ui-200/0
      ;
    }
    div,
    a {
    &.progressbar,
    &.chip,
    &.chip.chip-sliced:not([class*=bg-]) {
        @apply
        bg-none
        bg-ui-600/25
        border-0
        shadow-[inset_0_0_0_1px_rgba(255,255,255,0)];
        ;
        > div {
          @apply
          opacity-0
          ;
        }
      }
    }
    button {
      @apply
      opacity-0
      ;
    }
    .card-image-bg {
      &::before,
      &::after {
        @apply
        hidden
        ;
      }
    }
    .card-brawl.card-secondary {
      > div {
        @apply
        bg-none
        bg-ui-600/25
        ;
        > * {
          @apply
          opacity-0
          ;
        }
      }
      > i {
        @apply
        hidden
        ;
      }
    }
  }
}

@keyframes card-loader {
  0% {
    background-position: -900px 0;
  }
  100% {
    background-position: 900px 0;
  }
}

@keyframes card-glow {
  0%, 100% {
    box-shadow: inset 0 0 0 1px rgba(var(--color-main)/0%);
    
  }
  50% {
    box-shadow: inset 0 0 0 1px rgba(var(--color-main)/100%);
  }
}