@import "tailwindcss/components";

/*----------------------------*/
/* CAROUSEL */
/*----------------------------*/


.carousel {
  @apply
  block
  lg:flex
  lg:flex-row
  lg:items-stretch
  transform-gpu
  ;

  .carousel-slides {
    @apply
    h-[420px]
    lg:h-80
    self-center
    ;
  }

  .carousel-list {
    @apply
    h-auto
    lg:h-72
    ;
  }

  .carousel-slides {
    @apply
    relative
    z-0
    flex-1
    lg:flex-7
    flex
    items-stretch
    ;

    .carousel-slide {
      @apply
      inset-0
      absolute
      flex
      flex-col
      lg:flex-row
      items-stretch
      transition-all
      duration-1000
      ease-[cubic-bezier(0.9,0,0.1,1)]
      pointer-events-none
      -translate-x-48
      opacity-0
      ;

      .carousel-image {
        @apply
        relative
        z-10
        flex-4
        ;
        > * {
          @apply
          absolute
          inset-0
          bg-cover
          bg-center
          transition-all
          duration-[1.4s]
          ease-[cubic-bezier(0.7,0,0.3,1)]
          opacity-0
          lg:scale-150
          lg:origin-right
          ;
          
        }
        
      }
      .carousel-backdrop {
        @apply
        absolute
        z-0
        -inset-80
        blur-sm
        opacity-0
        grayscale-0
        ;
        > * {
          @apply
          absolute
          inset-0
          bg-cover
          bg-center
          ;
        }
      }
      .carousel-body {
        @apply
        relative
        z-20
        flex-5
        p-4
        lg:p-5
        flex
        flex-col
        items-start
        justify-center
        ;

        h1,
        h2,
        h3,
        h4,
        .h1,
        .h2,
        .h3,
        .h4 {
          @apply
          leading-none	
          ;
        }

        > * {
          @apply
          lg:max-w-xs
          lg:mx-4
          ;
        }
      }

      &.is-active {
        @apply
        pointer-events-auto
        translate-x-0
        opacity-100
        ;
        .carousel-image {
          > * {
            @apply
            opacity-100
            scale-100
            lg:scale-110
            ;
          }
        }
      }
    }
  } 
  
  .carousel-nav {
    @apply
    flex
    lg:flex-col
    items-stretch
    flex-2
    shrink-0
    relative
    overflow-hidden
    ;
  }

  .carousel-control {
    @apply
    hidden
    lg:flex
    justify-end
    gap-2
    py-2
    px-2
    lg:gap-3
    lg:pt-0
    lg:pb-2
    lg:pr-2
    ;
  }

  .carousel-list {
    @apply
    relative
    z-10
    flex-1
    overflow-x-scroll
    lg:overflow-hidden
    flex
    items-center
    lg:flex-col
    justify-center
    gap-4
    lg:gap-2
    px-4
    lg:px-0
    py-4
    lg:py-2
    ;

    -webkit-overflow-scrolling: touch;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none !important;
      width: 0 !important;
      height: 0 !important;
    }

    &:hover {
      a,
      button {
        @apply
        opacity-50
        ;
        &:hover {
          @apply
          opacity-100
          ;
        }
      }
    }

    > li {
      @apply
      w-1/2
      lg:w-full
      flex
      flex-col
      items-stretch
      animate-[carousel-list-slidein_1.5s_cubic-bezier(0.9,0,0.1,1)_forwards]
      translate-y-[4rem]
      opacity-0
      lg:pr-2
      ;

      &:nth-child(1) {
        --delay: 1;
      }
      &:nth-child(2) {
        --delay: 2;
      }
      &:nth-child(3) {
        --delay: 4;
      }
      &:nth-child(4) {
        --delay: 6;
      }
      &:nth-child(5) {
        --delay: 8;
      }
      &:nth-child(6) {
        --delay: 10;
      }
      animation-delay: calc(var(--delay, 1) * 0.05s);
      
      > a,
      > button {
        @apply
        flex-1
        p-1
        lg:p-4
        leading-tight
        relative
        cursor-pointer
        rounded
        bg-ui-600
        lg:bg-ui-700/75
        text-ui-200
        gap-0
        transition-all
        duration-1000
        ease-[cubic-bezier(0.9,0,0.1,1)]
        lg:opacity-50
        origin-right
        select-none
        flex
        flex-col
        items-start
        justify-center
        whitespace-nowrap
        overflow-hidden
        transform-gpu
        lg:translate-x-4
        outline-offset-2
        focus-visible:outline
        focus-visible:outline-offset-2
        focus-visible:outline-1
        focus-visible:outline-main
        ;

        &.item {
          @apply
          flex
          flex-row
          items-center
          gap-2
          ;
        }

        &:not([disabled]),
        &:not(.is-disabled) {
          &:active {
            &:hover,
            &:focus {
              @apply
              opacity-80
              ;
            }
          }
        }

        > * {
          @apply
          hidden
          lg:block
        }

        > div {
          @apply
          text-sm
          ;
        }
        > span {
          @apply
          text-xs
          text-ui-300
          ;
        }

        > i {
          @apply
          absolute
          overflow-hidden
          lg:overflow-auto
          inset-y-0
          right-0
          w-1.5
          bg-ui-500/50
          transition
          duration-[1.25s]
          ease-[cubic-bezier(0.8,0,0.2,1)]
          ;

          > span {
            @apply
            content-['']
            absolute
            inset-0
            w-1.5
            bg-interaction-500
            origin-top
            -translate-y-full
            opacity-0
            ;
          }
        }

        &:hover,
        &.is-active {
          &::after {
            @apply
            opacity-100
            scale-y-100
            duration-75
            ;
          }
        }

        > * {
          @apply
          relative
          z-20
          ;
        }
        > span,
        > div {
          &:not(.item-actions) {
            @apply
            text-ellipsis
            overflow-hidden
            whitespace-nowrap
            w-full
            ;
          }
        }
      }
      
      &.is-active {
        a,
        button {
          @apply
          opacity-100
          translate-x-0
          bg-main
          lg:bg-ui-600
          ;
          > i {
            @apply
            bg-ui-500
            ;
            > span {
              @apply
              opacity-100
              ;
            }
          }
        }
      }
    }
  }
}

@keyframes carousel-list-slidein {
  from {
    transform: translateY(4rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* carousel step (onboarding) */

.carousel.carousel-step {
  .carousel-control {
    @apply
    hidden
    ;
  } 
  .carousel-list {
    @apply
    lg:py-2
    ;
    > li {
      @apply
      lg:h-1/4
      ;
      > a {
        > i {
          @apply
          hidden
          ;
        }
      }
    }
    &::after {
      @apply
      content-['']
      h-full
      w-4
      ;
    }
  }
}