/*----------------------------*/
/* CHAT */
/*----------------------------*/

.chat {
  &,
  * {
    --scroll-behavior: auto;
  }
  @apply
  overflow-x-hidden
  ;

  code.tag {
    @apply
    border-none
    px-0.5
    mx-0.5
    text-base
    font-bold
    bg-ui-200/10
    text-ui-100
    tracking-normal
    font-body
    cursor-pointer
    transition-opacity
    duration-75
    hover:opacity-75
    ;
    &.is-owner {
      @apply
      text-main
      ;
    }
  }

  .chat-group {
    code.tag {
      &:first-child {
        @apply
        ml-0
        ;
      }
      &:last-child {
        @apply
        mr-0
        ;
      }
    }
  }

  .chat-group.is-owner,
  [isowner='true'] {
    code.tag {
      @apply
      bg-ui-700/10
      text-ui-850
      ;
    }
  }
  [contenteditable='true']:empty:not(:focus):before {
    @apply
    content-[attr(placeholder)]
    absolute
    inline-block
    text-ui-300
    ;
  }
}

.chat-feed {
  @apply
  overflow-y-hidden
  md:overflow-y-auto
  overflow-x-hidden
  scrollbar-desktop
  ;
}

.chat-group {
  @apply
  flex
  items-start
  px-2
  lg:px-4
  pt-3
  relative
  ;
  [data-tooltip] {
    &::after {
      @apply
      bg-ui-500/95
      shadow-sm
      ;
    }
  }
  .chat-messages {
    @apply
    max-w-[calc(100%-150px)]
    lg:max-w-[60%]
    flex
    flex-col
    ;

    > *:not(.chat-message) {
      @apply
      pb-1
      ;
    }

    > .chat-message {
      @apply
      pb-3
      ;
    }
    .chat-message {
      @apply
      flex
      gap-2
      items-center
      relative
      hover:z-20
      rounded-3xl
      outline-none
      focus-visible:outline
      focus-visible:outline-offset-2
      focus-visible:outline-1
      focus-visible:outline-main
      ;
      
      &:hover {
        .chat-action-hidden {
          @apply
          opacity-100
          ;
        }
        .chat-react {
          @apply
          opacity-100
          translate-y-0
          ;
        }
      }
    }
  }
  &:not(.is-owner) {
    @apply
    text-left
    ;
    .chat-author {
      > time {
        @apply
        left-[calc(100%+1rem)]
        ;
      }
    }
    .chat-messages {
      @apply
      pl-2
      lg:pl-4
      ;
      .chat-message {
        @apply
        rounded-tl-sm
        ;
        .chat-bubble {
          @apply
          bg-ui-600
          rounded-tl-sm
          ;
          &.is-deleted {
            @apply
            bg-ui-600/0
            shadow-[inset_0_0_0_1px_rgb(var(--color-ui-600))];
            ;
            > *:not(.chat-reactions) {
              @apply
              text-ui-400
              ;
            }
          }
        }
        &:last-child {
          .chat-bubble {
            &,
            img {
              
            }
          }
        }
      }
    }
  } 
  &.is-owner {
    @apply
    text-right
    flex-row-reverse
    ;
    .chat-author {
      > time {
        @apply
        right-[calc(100%+1rem)]
        ;
      }
    }
    .chat-messages {
      @apply
      pr-2
      lg:pr-4
      items-end
      ;
      .chat-message {
        @apply
        flex-row-reverse
        rounded-tr-sm
        ;
        .chat-bubble {
          @apply
          bg-main
          rounded-tr-sm
          min-w-[fit-content]
          z-[unset]
          ;
          > *:not(.chat-reactions) {
            @apply
            text-ui-800
            ;
          }
          > .chat-reactions {
            @apply
            text-left
            ;
          }
          &.is-deleted {
            @apply
            bg-ui-600/0
            shadow-[inset_0_0_0_1px_rgb(var(--color-ui-600))];
            ;
            > *:not(.chat-reactions) {
              @apply
              text-ui-400
              ;
            }
          }
        }
      }
    }
    .chat-actions {
      @apply
      flex-row-reverse
      ;
    }
  }
  &.is-event {
    .chat-author {
      @apply
      hidden
      ;
    }
    .chat-messages {
      @apply
      pl-0
      lg:pl-0
      w-full
      max-w-[100%]
      lg:max-w-[100%]
      ;
      .chat-message {
        @apply
        rounded
        ;
        .chat-bubble {
          @apply
          w-full
          bg-gradient-to-r
          bg-ui-700/0
          from-ui-700/0
          via-ui-700
          to-ui-700/0
          rounded
          text-ui-200
          text-center
          ;
          /* shadow-xl */
        }
        .chat-reactions,
        .chat-actions {
          @apply
          hidden
          ;
        }
      }
    }
  }
  &:last-child {
    @apply
    pb-4
    ;
  }
}

@media only screen and (max-width: 768px) {
  .chat-group:not(.is-owner) {
    .dropdown.dropdown-center {
      .dropdown-content {
        @apply
        right-0
        left-auto
        translate-x-0
        ;
      }
    }
  }
  .chat-group.is-owner {
    .dropdown.dropdown-center {
      .dropdown-content {
        @apply
        left-0
        right-auto
        translate-x-0
        ;
      }
    }
  }
}

.chat-author {
  @apply
  relative
  ;
  > .avatar {
    @apply
    -mb-6
    shrink-0
    ;
  }
}

.chat-messages,
.chat-author {
  time {
    @apply
    whitespace-nowrap
    text-xs
    text-ui-300
    transition-colors
    duration-200
    ease-in-out
    leading-none
    ;
  }
}

.chat-bubble {
  @apply
  bg-ui-600
  relative
  z-10
  min-w-[fit-content]
  whitespace-pre-wrap
  ;
  &,
  img {
    @apply
    rounded-3xl
    ;
  }
  > div:first-child {
    a {
      @apply
      underline
      hover:no-underline
      ;
    }
  }
  img {
    @apply
    max-w-[75vw]
    lg:max-w-xs
    ;
  }
  &:not(.chat-bubble-image) {
    @apply
    px-4
    py-3
    ;
  }
  &.chat-bubble-image {
    > .chat-reactions {
      @apply
      bottom-0
      ;
    }
  }
  .chat-reactions {
    @apply
    relative
    h-px
    -mx-2
    z-10
    -bottom-3
    right-1
    ;
  }
}

.chat-actions {
  @apply
  flex
  items-center
  relative
  z-0
  hover:z-20
  ;
  .chat-action-hidden {
    @apply
    opacity-0
    transition-opacity
    duration-200
    ease-in-out
    ;
  }
}

.chat-footer {
  @apply
  flex
  items-center
  gap-2
  p-2
  border-t
  border-ui-700
  bg-ui-800
  ;
  > .form-group {
    @apply
    flex-1
    ;
  }
}

.chat-reactions {
  @apply
  flex
  justify-end
  gap-0.5
  items-center
  ;
}

.chat-reaction {
  @apply
  bg-gradient-radial-spotlight
  from-ui-400
  to-ui-500
  rounded-full
  border
  border-ui-500
  hover:border-ui-400
  text-ui-200
  px-1
  py-0.5
  flex
  items-center
  gap-0.5
  text-sm
  leading-none
  animate-scale-in
  select-none
  ;
  animation-duration: 0.35s;
  animation-timing-function: cubic-bezier(.75,0,.1,1.5);
  * {
    @apply
    transition
    duration-75
    ;
  }
  &:active {
    * {
      @apply
      scale-95
      opacity-75
      ;
    }
  }
  &.is-owner {
    @apply
    from-interaction-300
    to-interaction-700
    text-ui-800
    border-interaction-500/0
    hover:border-interaction-300
    ;
  }
}
.chat-react {
  @apply
  bg-gradient-radial-spotlight
  from-ui-400
  to-ui-500
  rounded-full
  w-6
  h-6
  flex
  items-center
  justify-center
  text-center
  transition-all
  duration-200
  ease-in-out
  opacity-0
  translate-y-1
  ;
  label,
  button {
   &.chat-react-button {
    @apply
    block
    w-[18px]
    h-[18px]
    active:scale-95
    active:opacity-75
    ;
   }
  }
  .icon {
    @apply
    text-lg
    text-ui-200
    ;
  }
}

.chat.chat-responsive {
  .chat-footer {
    @apply
    fixed
    inset-x-0
    bottom-0
    xl:relative
    ;
    z-index: 10000;
  }
  .chat-group {
    &:last-child {
      @apply
      pb-44
      xl:pb-4
      ;
    }
  }
}

.chat-bubble {
  &.is-deleted {
    .chat-reactions {
      @apply
      hidden
      pointer-events-none
      ;
    }
    ~ .chat-actions {
      @apply
      hidden
      pointer-events-none
      ;
    }
  }
  &.is-writting {
    @apply
    p-0
    ;
    > div {
      @apply
      relative
      h-12
      w-24
      flex
      items-center
      justify-center
      ;
    }    
  }
}

.chat {
  .twemoji-character {
    @apply
    inline-block
    h-4
    w-auto
    ;
  }
}

[contenteditable='true'] {
  .twemoji-character {
    @apply
    relative
    -top-0.5
    ;
  }
  &:empty::before {
    content: attr(placeholder);
    @apply
    content-[attr(placeholder)]
    block
    text-ui-300
    ;
  }
}

.giphyGrid-container {
  &:hover {
    @apply
    outline
    outline-main
    outline-2
    cursor-pointer
    ;
  }
}