/*----------------------------*/
/* STEP */
/*----------------------------*/

.checkmark {
  @apply
  block
  h-12
  w-12
  rounded-full
  bg-ui-900
  text-ui-800
  relative
  z-10
  overflow-hidden
  transition
  ease-[cubic-bezier(0.9,0,0.1,1)]
  duration-1000
  shadow-[0_0_0_2px_rgb(var(--color-ui-600))]
  m-[2px]
  ;

  > i {
    @apply
    text-center
    text-xl
    not-italic
    ;
    &::before,
    &::after {
      @apply
      absolute
      inset-1
      transition-transform
      transform-gpu
      ease-[cubic-bezier(0.9,0,0.1,1)]
      translate-y-12
      ;
    }
    &::before {
      @apply
      content-['']
      z-0
      duration-700
      rounded-full
      bg-interaction-500
      ;
    }
    &::after {
      @apply
      absolute
      duration-1000
      font-icon
      content-['\eb24']
      leading-none
      top-[calc(50%-0.5em)]
      inset-x-0
      text-center
      z-10
      ;
    }
  }

  &.is-active {
    @apply
    shadow-[0_0_0_2px_rgb(var(--color-interaction-500))]
    ;
    > i {
      &::before,
      &::after {
        @apply
        translate-y-0
        ;
      }
    }
  }
}

/* size */

.checkmark.checkmark-sm {
  @apply
  h-9
  w-9
  ;
  > i {
    &::before {
      @apply
      inset-[0.2rem]
      ;
    }
    &::after {
      @apply
      text-sm
      ;
    }
  }
}
.checkmark.checkmark-xs {
  @apply
  h-6
  w-6
  shadow-[0_0_0_1px_rgb(var(--color-ui-600))]
  ;
  > i {
    &::before {
      @apply
      inset-0.5
      ;
    }
    &::after {
      @apply
      text-xs
      top-[calc(50%-0.5em)]
      ;
    }
  }
  &.is-active {
    @apply
    shadow-[0_0_0_1px_rgb(var(--color-interaction-500))]
    ;
  }
}

.checkmark-invisible {
  &:not(.is-active) {
    @apply
    bg-gradient-radial-to-b
    from-ui-800/0
    to-ui-800/0
    text-ui-800/0
    shadow-[0_0_0_2px_rgba(var(--color-ui-600),0)]
    ;
  }
}