/*----------------------------*/
/* COLORS */
/*----------------------------*/

body {
  --color-main: 243 195 81;

  --color-white: 255 255 255;
  --color-black: 0 0 0;

  --color-mono-100: 255 255 255;
  --color-mono-900: 0 0 0;

  --color-blue: 0 225 255;
  
  /*
  --color-ui-100: 229 230 234;
  --color-ui-200: 182 184 196;
  --color-ui-300: 136 139 156;
  --color-ui-400: 94 97 116;
  --color-ui-500: 49 52 72;
  --color-ui-600: 41 44 65;
  --color-ui-700: 33 36 56;
  --color-ui-800: 25 28 48;
  --color-ui-850: 19 21 38;
  --color-ui-900: 13 15 28;
  */

  --color-ui-100: 196 197 208;
  --color-ui-200: 155 157 173;
  --color-ui-300: 115 118 136;
  --color-ui-400: 86 89 108;
  --color-ui-500: 38 41 61;
  --color-ui-600: 30 33 53;
  --color-ui-700: 23 27 45;
  --color-ui-800: 16 19 35;
  --color-ui-850: 10 12 25;
  --color-ui-900: 5 7 15;

  --color-premium-300: 254 213 116;
  --color-premium-500: 243 195 81;
  --color-premium-700: 204 162 61;

  --color-interaction-300: 254 213 116;
  --color-interaction-500: 243 195 81;
  --color-interaction-700: 204 162 61;

  --color-blue-300: 105 153 255;
  --color-blue-500: 80 130 242;
  --color-blue-700: 55 108 221;

  --color-purple-300: 184 151 233;
  --color-purple-500: 165 130 216;
  --color-purple-700: 142 105 195;

  --color-teal-300: 105 243 190;
  --color-teal-500: 78 221 166;
  --color-teal-700: 55 204 147;

  --color-attention-300: 255 154 59;
  --color-attention-500: 245 124 1;
  --color-attention-700: 221 108 0;

  --color-success-300: 105 255 137;
  --color-success-500: 81 243 126;
  --color-success-700: 56 221 91;

  --color-info-300: 105 153 255;
  --color-info-500: 80 130 242;
  --color-info-700: 55 108 221;

  --color-error-300: 255 105 105;
  --color-error-500: 243 81 81;
  --color-error-700: 221 56 56;

  --color-disabled-300: 86 90 107;
  --color-disabled-500: 52 56 71;
  --color-disabled-700: 39 39 57;

  --color-gold-300: 254 213 116;
  --color-gold-500: 243 195 81;
  --color-gold-700: 204 162 61;

  --color-silver-300: 212 213 215;
  --color-silver-500: 175 177 182;
  --color-silver-700: 97 100 107;

  --color-bronze-300: 250 234 148;
  --color-bronze-500: 242 190 81;
  --color-bronze-700: 188 129 49;

  --color-platinum-300: 236 169 250;
  --color-platinum-500: 255 0 255;
  --color-platinum-700: 152 0 153;

  --color-game-apexlegends: 218 42 41;
  --color-game-csgo: 249 129 0;
  --color-game-dota2: 239 61 54;
  --color-game-leagueoflegends: 197 149 74;
  --color-game-pubg: 242 169 0;
  --color-game-rocketleague: 46 113 198;
  --color-game-valorant: 255 70 85;
}

body[data-theme='light'] {
  --color-main: 19 240 148;

  --color-white: 255 255 255;
  --color-black: 0 0 0;

  --color-mono-100: 255 255 255;
  --color-mono-900: 0 0 0;

  --color-blue: 0 225 255;
  
  --color-ui-100: 243 243 246;
  --color-ui-200: 195 195 213;
  --color-ui-300: 133 133 173;
  --color-ui-400: 93 93 137;
  --color-ui-500: 51 51 102;
  --color-ui-600: 38 38 79;
  --color-ui-700: 31 31 66;
  --color-ui-800: 195 195 213;
  --color-ui-850: 195 195 213;
  --color-ui-900: 243 243 246;
}

body {
  @apply 
  text-ui-200
  bg-ui-900;
  background: rgb(var(--color-ui-900)) !important;
}

::selection {
  @apply
  text-ui-800
  bg-ui-100
  ;
}

/*
a:-webkit-any-link,
a {
  @apply
  text-ui-100
  ;
}
*/