/*----------------------------*/
/* DRAWER */
/*----------------------------*/

.drawer {

  @apply
  grid
  w-full
  overflow-hidden
  h-screen
  max-w-[100vw]
  ;
  height: 100dvh;
}

.drawer-toggle {
  @apply
  absolute
  h-0
  w-0
  appearance-none
  opacity-0
  ;

  ~ .drawer-content {
    @apply
    relative
    z-0
    col-start-1
    row-start-1
    transition-all
    duration-300
    ease-[.9,0,.1,1]
    overflow-x-hidden
    overflow-y-auto
    max-w-[100vw] 
    ;
    scroll-padding-top: 5rem;
  }

  ~ .drawer-side {
    @apply
    col-start-1
    row-start-1
    grid
    max-h-screen
    ;

    > .drawer-overlay {
      @apply
      invisible
      col-start-1
      row-start-1
      opacity-0
      cursor-pointer
      bg-ui-900/75
      transition-all
      duration-300
      ease-[.9,0,.1,1]
      ;

      + * {
        @apply
        z-10
        col-start-1
        row-start-1
        -translate-x-full
        transition-all
        duration-300
        ease-[.7,0,.3,1]
        pointer-events-none
        ;
      }
    }
  }
}

.drawer:not(.drawer-mobile) {
  .drawer-toggle:checked {
    ~ .drawer-content {
      @apply
      translate-x-2
      ;
    }
  }
}
.drawer-toggle:checked {
  ~ .drawer-side {
    @apply
    overflow-y-auto
    ;
    
    > .drawer-overlay {
      @apply
      visible
      opacity-[.999999]
      ;
      + * {
        @apply
        translate-x-0
        pointer-events-auto
        ;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .drawer-mobile:not(.drawer-right) {
    grid-auto-columns: max-content auto;
    
    > .drawer-toggle {

      ~ .drawer-content {
        @apply
        col-start-2
        h-auto
        ;
      }

      ~ .drawer-side {
        @apply
        overflow-y-auto
        ;
        
        > .drawer-overlay {
          @apply
          visible
          opacity-[.999999]
          ;
          + * {
            @apply
            translate-x-0
            pointer-events-auto
            ;
          }
        }
      }
    }
  }
}


/* right */

.drawer {
  &.drawer-right {

    &,
    > * {
      direction: ltr;
    }
  
    >.drawer-toggle {
      ~.drawer-side {
        >.drawer-overlay {
          + * {
            @apply
            translate-x-full
            justify-self-end
            ;
          }
        }
      }
    }

    .drawer-toggle:checked {

      ~ .drawer-side {
        > .drawer-overlay {
          + * {
            @apply
            translate-x-0
            ;
          }
        }
      }
    }

    &:not(.drawer-mobile) {
      .drawer-toggle:checked {
        ~ .drawer-content {
          @apply
          -translate-x-2
          ;
        }
      }
    }
  }
}


@media screen and (min-width: 1024px) {
  .drawer-mobile.drawer-right {
    grid-auto-columns: max-content auto;
    
    > .drawer-toggle {

      ~ .drawer-content {
        @apply
        col-start-1
        h-auto
        ;
      }

      ~ .drawer-side {
        @apply
        col-start-2
        overflow-y-auto
        ;
        
        > .drawer-overlay {
          @apply
          visible
          col-start-2
          opacity-[.999999]
          ;
          + * {
            @apply
            col-start-2
            translate-x-0
            pointer-events-auto
            ;
          }
        }
      }
    }
  }
}
