/*----------------------------*/
/* DROPDOWN */
/*----------------------------*/

.dropdown {
  @apply
  relative
  inline-block
  ;

  .menu {
    :where(a, button) {
      @apply
      text-ui-200
      ;
    }
    :where(li).separator {
      @apply
      bg-ui-500
      ;
    }
  }

  > [tabIndex]:first-child {
    @apply
    cursor-pointer
    ;
  }

  .dropdown-content {
    @apply
    absolute
    z-50
    origin-top
    ;
  }

  &.dropdown-open,
  &.dropdown-hover:hover,
  &:not(.dropdown-hover, .dropdown-open, .dropdown-closed):focus,
  &:not(.dropdown-hover, .dropdown-open, .dropdown-closed):focus-within {
    .dropdown-content {
      @apply
      visible
      pointer-events-auto
      opacity-100
      outline-none
      ;
      .menu {
        > li {
          @apply
          translate-y-0
          opacity-100
          ;
        }
      }
    }
  }

  &.dropdown-open,
  &.dropdown-hover:hover,
  &:focus,
  &:focus-within {
    .dropdown-content {
      @apply
      scale-100
      translate-y-0
      ;
    }
  }
  
  &.dropdown-closed {
    &,
    &:focus,
    &:focus-within {
      .dropdown-content {
        @apply
        scale-90
        invisible
        pointer-events-none
        opacity-0
        translate-y-0
        ;
      }
    }
  }
}

/* positioning */

.dropdown-end {
  .dropdown-content {
    @apply
    right-0
    ;
  }
}

.dropdown-center {
  .dropdown-content {
    @apply
    left-[50%]
    -translate-x-[50%]
    ;
  }
}

.dropdown-top {
  .dropdown-content {
    @apply
    bottom-full
    top-auto
    origin-bottom
    ;
    .menu {
      > li {
        @apply
        translate-y-4
        ;
      }
    }
  }
}

.dropdown-content.dropdown-top {
  .menu {
    > li {
      @apply
      translate-y-4
      ;
    }
  }
}

.dropdown-end {
  .dropdown-content {
    @apply
    right-0
    ;
  }

  &.dropdown-right,
  &.dropdown-left {
    .dropdown-content {
      @apply
      bottom-0
      top-auto
      ;
      .menu {
        > li {
          @apply
          translate-y-4
          ;
        }
      }
    }
  }
}

.dropdown-left {
  .dropdown-content {
    @apply
    top-0
    right-full
    bottom-auto
    origin-right
    ;
  }
}

.dropdown-right {
  .dropdown-content {
    @apply
    top-0
    left-full
    bottom-auto
    origin-left
    ;
  }
}

/* dropdown content */

.dropdown-content {
  @apply
  origin-top
  scale-90
  invisible
  pointer-events-none
  opacity-0
  transition-all
  duration-200
  ease-[cubic-bezier(.7,0,.3,1)]
  outline-none
  ;

  &:not([class*='rounded']) {
    @apply
    rounded-lg
    overflow-hidden
    ;
  }
  &:not([class*='shadow']) {
    @apply
    shadow-xl
    ;
  }
  &:not([class*='bg-']) {
    @apply
    bg-ui-600
    ;
  }
  .menu {
    > li {
      @apply
      -translate-y-4
      opacity-0
      delay-200
      ;
    }
  }
  &.dropdown-open {
    @apply
    scale-100
    translate-y-0
    visible
    pointer-events-auto
    opacity-100
    outline-none
    ;
    .menu {
      > li {
        @apply
        translate-y-0
        opacity-100
        ;
      }
    }
  }
}

/* responsive positioning */

@media only screen and (min-width: 640px) {
	.dropdown {
    &.sm\:dropdown-end {
      .dropdown-content {
        @apply
        right-0
        ;
      }
    }
    
    &.sm\:dropdown-center {
      .dropdown-content {
        @apply
        left-[50%]
        -translate-x-[50%]
        ;
      }
    }
    
    &.sm\:dropdown-top {
      .dropdown-content {
        @apply
        bottom-full
        top-auto
        origin-bottom
        ;
        .menu {
          > li {
            @apply
            translate-y-4
            ;
          }
        }
      }
    }
    
    &.sm\:dropdown-content.dropdown-top {
      .menu {
        > li {
          @apply
          translate-y-4
          ;
        }
      }
    }
    
    &.sm\:dropdown-end {
      .dropdown-content {
        @apply
        right-0
        ;
      }
    
      &.dropdown-right,
      &.dropdown-left {
        .dropdown-content {
          @apply
          bottom-0
          top-auto
          ;
          .menu {
            > li {
              @apply
              translate-y-4
              ;
            }
          }
        }
      }
    }
    
    &.sm\:dropdown-left {
      .dropdown-content {
        @apply
        top-0
        right-full
        bottom-auto
        origin-right
        ;
      }
    }
    
    &.sm\:dropdown-right {
      .dropdown-content {
        @apply
        top-0
        left-full
        bottom-auto
        origin-left
        ;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
	.dropdown {
    &.md\:dropdown-end {
      .dropdown-content {
        @apply
        right-0
        ;
      }
    }
    
    &.md\:dropdown-center {
      .dropdown-content {
        @apply
        left-[50%]
        -translate-x-[50%]
        ;
      }
    }
    
    &.md\:dropdown-top {
      .dropdown-content {
        @apply
        bottom-full
        top-auto
        origin-bottom
        ;
        .menu {
          > li {
            @apply
            translate-y-4
            ;
          }
        }
      }
    }
    
    &.md\:dropdown-content.dropdown-top {
      .menu {
        > li {
          @apply
          translate-y-4
          ;
        }
      }
    }
    
    &.md\:dropdown-end {
      .dropdown-content {
        @apply
        right-0
        ;
      }
    
      &.dropdown-right,
      &.dropdown-left {
        .dropdown-content {
          @apply
          bottom-0
          top-auto
          ;
          .menu {
            > li {
              @apply
              translate-y-4
              ;
            }
          }
        }
      }
    }
    
    &.md\:dropdown-left {
      .dropdown-content {
        @apply
        top-0
        right-full
        bottom-auto
        origin-right
        ;
      }
    }
    
    &.md\:dropdown-right {
      .dropdown-content {
        @apply
        top-0
        left-full
        bottom-auto
        origin-left
        ;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
	.dropdown {
    &.lg\:dropdown-end {
      .dropdown-content {
        @apply
        right-0
        ;
      }
    }
    
    &.lg\:dropdown-center {
      .dropdown-content {
        @apply
        left-[50%]
        -translate-x-[50%]
        ;
      }
    }
    
    &.lg\:dropdown-top {
      .dropdown-content {
        @apply
        bottom-full
        top-auto
        origin-bottom
        ;
        .menu {
          > li {
            @apply
            translate-y-4
            ;
          }
        }
      }
    }
    
    &.lg\:dropdown-content.dropdown-top {
      .menu {
        > li {
          @apply
          translate-y-4
          ;
        }
      }
    }
    
    &.lg\:dropdown-end {
      .dropdown-content {
        @apply
        right-0
        ;
      }
    
      &.dropdown-right,
      &.dropdown-left {
        .dropdown-content {
          @apply
          bottom-0
          top-auto
          ;
          .menu {
            > li {
              @apply
              translate-y-4
              ;
            }
          }
        }
      }
    }
    
    &.lg\:dropdown-left {
      .dropdown-content {
        @apply
        top-0
        right-full
        bottom-auto
        origin-right
        ;
      }
    }
    
    &.lg\:dropdown-right {
      .dropdown-content {
        @apply
        top-0
        left-full
        bottom-auto
        origin-left
        ;
      }
    }
  }
}
@media only screen and (min-width: 1280px) {
	.dropdown {
    &.xl\:dropdown-end {
      .dropdown-content {
        @apply
        right-0
        ;
      }
    }
    
    &.xl\:dropdown-center {
      .dropdown-content {
        @apply
        left-[50%]
        -translate-x-[50%]
        ;
      }
    }
    
    &.xl\:dropdown-top {
      .dropdown-content {
        @apply
        bottom-full
        top-auto
        origin-bottom
        ;
        .menu {
          > li {
            @apply
            translate-y-4
            ;
          }
        }
      }
    }
    
    &.xl\:dropdown-content.dropdown-top {
      .menu {
        > li {
          @apply
          translate-y-4
          ;
        }
      }
    }
    
    &.xl\:dropdown-end {
      .dropdown-content {
        @apply
        right-0
        ;
      }
    
      &.dropdown-right,
      &.dropdown-left {
        .dropdown-content {
          @apply
          bottom-0
          top-auto
          ;
          .menu {
            > li {
              @apply
              translate-y-4
              ;
            }
          }
        }
      }
    }
    
    &.xl\:dropdown-left {
      .dropdown-content {
        @apply
        top-0
        right-full
        bottom-auto
        origin-right
        ;
      }
    }
    
    &.xl\:dropdown-right {
      .dropdown-content {
        @apply
        top-0
        left-full
        bottom-auto
        origin-left
        ;
      }
    }
  }
}