/*----------------------------*/
/* LADDER */
/*----------------------------*/


.ladder-container {
  @apply
  grid
  justify-start
  items-start
  overflow-x-scroll
  pb-4
  ;
}

.ladder-avatar {
  @apply
  overflow-hidden
  py-4
  -ml-[calc(-3.5rem_+_13px)]
  ;
  > div {
    @apply
    transition-all
    duration-1000
    transform-gpu
    translate-x-[calc((((100/var(--max))*(var(--step)-1))*1%)-0.25rem)]
    ease-[cubic-bezier(0.9,0,0.1,1)]
    ;
    > div {
      width: calc(100%/var(--max));
      @apply
      flex
      justify-center
      items-center
      relative
      ;
      > .chip {
        @apply
        absolute
        z-0
        left-[calc(50%+(2.25rem/4))]
        rounded-l-none
        pl-1
        ;
      }
      > .avatar {
        @apply
        relative
        z-10
        ;
      }
    }
  }
}
.ladder {
  @apply
  relative
  flex
  flex-nowrap
  gap-4
  transform-gpu
  px-0.5
  -ml-[calc(-3.5rem+13px)]
  ;

  > li {
    @apply
    relative
    flex
    flex-col
    items-stretch
    justify-items-stretch
    w-28
    text-center
    gap-2
    ;
    > .ladder-info {
      @apply
      relative
      whitespace-nowrap
      ;

      > div {
        @apply
        relative
        z-10
        rounded-full
        bg-ui-700
        p-1
        inline-flex
        items-center
        ;

        > span {
          &:nth-child(1) {
            @apply
            text-center
            min-h-[1.3rem]
            min-w-[1.3rem]
            rounded-full
            text-sm
            font-bold
            text-ui-100/0
            bg-main
            shadow-[0_0_0_3px_rgb(var(--color-ui-800)),_0_0_0_5px_rgb(var(--color-main))]
            transition-all
            ease-in-out
            duration-1000
            ;
            &::after {
              @apply
              absolute
              transition-transform
              ease-[cubic-bezier(0.9,0,0.1,1)]
              duration-1000
              font-icon
              text-xs
              leading-5
              content-['\eb24']
              z-10
              inset-x-0
              top-auto
              bottom-auto
              translate-y-0
              text-ui-800
              ;
            }
          }
          &:nth-child(2) {
            @apply
            text-xs
            text-ui-300
            overflow-hidden
            text-center
            w-12
            opacity-100
            transition-all
            duration-1000
            ease-[cubic-bezier(0.7,0,0.3,1)]
            ;
          }
        }
      }
    }

    &:not(:last-child) {
      > .ladder-info::after {
        @apply
        content-['']
        absolute
        z-0
        h-[3px]
        left-[50%]
        w-[calc(100%+1rem)]
        top-[calc(50%-1.5px)]
        bg-main
        -translate-x-1
        transition-colors
        duration-200
        ease-[cubic-bezier(.8,0,.3,1)]
        ;
      }
    }

    > .ladder-milestone {
      .chip {
        @apply
        pointer-events-none
        ;
        > * {
          @apply
          text-ui-500
          transition-colors
          duration-100
          ;
        }
      }
    }

    > .ladder-content {
      @apply
      flex-1
      relative
      z-10
      bg-ui-800
      border
      border-ui-700
      rounded-lg
      overflow-hidden
      flex
      flex-col
      leading-none
      transition-all
      duration-1000
      ease-[cubic-bezier(0.9,0,0.1,1)]
      opacity-80
      origin-bottom
      ;

      > .ladder-decoration {
        @apply
        relative
        z-20
        ;
      }

      > .ladder-body {
        @apply
        p-2
        text-ui-200
        text-sm
        flex-1
        flex
        flex-col
        items-center
        opacity-20
        transition-all
        duration-500
        ease-[cubic-bezier(0.9,0,0.1,1)]
        delay-200
        ;

        > img {
          @apply
          my-2
          w-[90%]
          h-auto
          rounded
          ;
        }
      }
    }

    &:not(.is-active) {
      > .ladder-info > div > span:nth-child(2) {
        @apply
        w-0
        opacity-0
        ;
      }
    }

    &.is-active {
      > .ladder-info {
        > div {
          @apply
          shadow-[0_0_0_0_rgb(var(--color-ui-800)),_0_0_0_2px_rgb(var(--color-main))]
          ;
          > span:nth-child(1) {
            @apply
            text-ui-800
            shadow-[0_0_0_2px_rgb(var(--color-ui-600)),_0_0_0_3px_rgb(var(--color-ui-600))]
            ;
          }
        }
      }
      > .ladder-milestone {
        .chip {
          > * {
            @apply
            text-ui-300
            ;
          }
        }
      }
      > .ladder-content {
        @apply
        via-ui-800
        to-ui-700
        translate-y-0
        ;
      }
      &,
      & ~ li {
        > .ladder-info {
          &::after {
            @apply
            bg-ui-700
            ;
          }
          > div {
            > span:nth-child(1) {
              &::after {
                @apply
                opacity-0
                translate-y-12
                ;
              }
            }
          }
        }
        .ladder-content {
          @apply
          opacity-100
          ;
          .ladder-body {
            @apply
            opacity-100
            ;
          }
        }
      }
      & + li {
        > .ladder-milestone {
          .chip {
            > * {
              @apply
              text-ui-300
              ;
            }
          }
        }
        ~ li {
          > .ladder-milestone {
            .chip {
              > * {
                @apply
                text-ui-300/0
                ;
              }
            }
          }
        }
      }
      & ~ li {
        
        > .ladder-info > div > span:nth-child(1) {
          @apply
          text-ui-300
          bg-gradient-to-b
          from-ui-700
          to-ui-500
          shadow-[0_0_0_3px_rgb(var(--color-ui-800)),_0_0_0_5px_rgb(var(--color-ui-600))]
          ;
        }
        
      }
    }
    &.is-locked {
      &::before,
      &::after {
        @apply
        content-['']
        absolute
        ;
      }
      &::before {
        @apply
        font-icon
        content-['\ea12']
        absolute
        z-10
        w-7
        h-7
        leading-7
        -left-5
        bg-gradient-to-b
        from-premium-300
        to-premium-500
        rounded-full
        text-ui-800
        text-lg
        shadow-[0_0_0_3px_rgb(var(--color-ui-900))]
        ;
      }
      &::after {
        @apply
        z-0
        w-0
        border-l
        border-dashed
        border-premium-700/50
        -left-2
        top-10
        bottom-0
        ;
      }

      ~ .is-locked {
        &::before,
        &::after {
          @apply
          hidden
          ;
        }
      }
      > .ladder-content {
        @apply
        shadow-[inset_0_0_0_1px_rgb(var(--color-premium-300))]
        ;
        > .ladder-decoration {
          @apply 
          drop-shadow-[0_3px_1.5px_rgba(0,0,0,0.5)]
          ;
          > img {
            @apply
            w-auto
            mx-auto
            translate-y-4
            ;
          }
          &::before {
            @apply
            content-['']
            absolute
            z-0
            top-0
            left-0
            right-0
            h-10
            bg-gradient-to-b
            from-premium-300
            to-premium-500
            text-ui-800
            ;
            clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
          }
          &::after {
            @apply
            font-icon
            content-['\ea12']
            absolute
            z-10
            w-8
            h-8
            rounded-full
            top-1
            left-[calc(50%-1rem)]
            bg-gradient-to-b
            from-ui-900
            via-ui-800
            to-ui-700
            text-premium-300
            shadow-[0_0_0_1px_rgb(var(--color-premium-300))]
            text-center
            leading-[2]
            ;
          }
        }
      }
    }
  }

  /* size */

  &.ladder-sm {
    > li > .ladder-content > .ladder-body {
      > img {
        @apply
        my-1
        w-[75%]
        ;
      }
    }
  }
}