/*----------------------------*/
/* LINK */
/*----------------------------*/

:where(.link, .interactive) {
  @apply
  cursor-pointer
  hover:opacity-80
  active:opacity-80
  rounded
  outline-offset-2
  focus-visible:outline
  focus-visible:outline-main
  transition-all
  duration-200
  ease-in-out
  ;
}

.link {
  @apply
  underline
  active:no-underline
  ;

  &.link-main {
    @apply
    text-interaction-500
    hover:text-interaction-300
    visited:text-interaction-700
    ;
  }
  
  &.link-hover {
    @apply
    no-underline
    hover:underline
    ;
  }
}

/* hover inside */

.hoverinside\:opacity-100 {
  &:hover {
    .hoverinside {
      @apply
      opacity-100
      ;
    }
  }
}
.hoverinside\:translate-x-0 {
  &:hover {
    .hoverinside {
      @apply
      translate-x-0
      ;
    }
  }
}
.hoverinside\:translate-y-0 {
  &:hover {
    .hoverinside {
      @apply
      translate-y-0
      ;
    }
  }
}
.hoverinside\:scale-100 {
  &:hover {
    .hoverinside {
      @apply
      scale-100
      ;
    }
  }
}

.interactive {
  @apply
  active:scale-[0.99]
  ;
}

/* hover highlight */


.hoverhighlight {
  > * {
    @apply
    transition
    duration-200
    ease-in-out
    cursor-pointer
    active:scale-[0.99]
    ;
  }
  
  &:hover {
    > * {
      @apply
      opacity-30
      ;
      &:hover {
        @apply
        opacity-100
        ;
      }
    }
  }
}

.link-outline {
  @apply
  outline-offset-2
  ;
}