/*----------------------------*/
/* MENU */
/*----------------------------*/

.menu {
  @apply
  m-0
  p-0
  list-none
  transform-gpu
  ;

  &.menu-rounded {
    :where(a, button, div) {
      @apply
      rounded
      overflow-hidden
      ;
    }
  }

  :where(li) {
    @apply
    transition-all
    duration-200
    ease-in-out
    w-full
    ;
  }

  :where(li).separator {
    @apply
    bg-ui-700
    h-px
    w-full
    my-2
    select-none
    ;
  }

  :where(a, button, div) {
    @apply
    relative
    inline-flex
    w-full
    items-center
    space-x-2
    text-ui-300
    cursor-pointer
    transition-all
    duration-200
    ease-[cubic-bezier(.7,0,.3,1)]
    outline-none
    focus-visible:outline-none
    ;

    &:focus-visible {
      &::before {
        @apply
        outline
        outline-1
        outline-main
        ;
      }
    }

    &:not([class*="p-"]) {
      @apply
      px-2
      py-2
      ;
    }
    
    > * {
      @apply
      relative
      z-20
      select-none
      transition
      ease-linear
      duration-75
      ;

      &:not([class*='icon']) {
        /*
        @apply 
        block
        ;
        */
      }
      &.icon {
        @apply
        text-base
        ;
      }
    }
    &::before {
      @apply 
      content-['']
      absolute
      z-20
      inset-0.5
      rounded
      pointer-events-none
      ;
    }

    &::after {
      @apply 
      absolute
      z-10
      content-['']
      inset-0
      bg-ui-700
      transition-all
      duration-200
      ease-[cubic-bezier(.7,0,.3,1)]
      opacity-0
      scale-y-0
      translate-y-2
      ;
    }

    &:hover,
    &:focus-visible,
    &.is-active {
      &,
      > * {
        @apply
        text-mono-100
        z-20
        ;
      }
      
      &::after {
        @apply
        opacity-100
        scale-y-100
        translate-y-0
        duration-75
        ;
      }
    }

    &:active {
      &:hover,
      &:focus {
        &,
        &::after {
          @apply
          bg-ui-700/25
          ;
        }
      }
    }
  }

  :where(li).is-disabled {
    a,
    button {
      @apply
      pointer-events-none
      text-ui-500
      ;
    }
  }

  &.menu-secondary {
    :where(a, button, div) {
      @apply
        text-sm
        ;
      &.is-active {
        @apply
        font-bold
        ;
      }
    }
  }

  > li {
    ul {
      @apply
      flex
      flex-col
      items-stretch
      ;
    }
    > ul {
      @apply
      absolute
      hidden
      left-full
      rounded-lg
      bg-ui-800
      border
      border-ui-700
      overflow-hidden
      top-0
      ;
      li {
        @apply
        w-full
        whitespace-nowrap
        ;
      }
    }
    &:hover {
      > ul {
        @apply
        flex
        ;
      }
    }
  }
}

.menu:not([class*=horizontal]) {
  :where(a, button, div) {
    &:hover,
    &:focus-visible,
    &.is-active {
      > *:not(.icon) {
        @apply 
        translate-x-1
        ;
      }
    }
  }
}

/* horizontal */
.menu.menu-horizontal {
  @apply
  inline-flex
  flex-row
  ;
  :where(a, button, div) {
    &:not([class*="p-"]) {
      @apply
      px-4
      ;
    }
    &::after {
      @apply 
      rounded
      ;
    }
  }
  > li {
    > ul {
      @apply
      top-full
      left-[initial]
      ;
    }
  }
}
@screen sm {
  .menu {
    &.sm\:menu-horizontal {
      @apply
      inline-flex
      flex-row
      ;
      :where(a, button, div) {
        @apply 
        px-4
        ;
        &::after {
          @apply 
          rounded
          ;
        }
      }
    }
  }
}
@screen md {
  .menu {
    &.md\:menu-horizontal {
      @apply
      inline-flex
      flex-row
      ;
      :where(a, button, div) {
        @apply 
        px-4
        ;
        &::after {
          @apply 
          rounded
          ;
        }
      }
    }
  }
}
@screen lg {
  .menu {
    &.lg\:menu-horizontal {
      @apply
      inline-flex
      flex-row
      ;
      :where(a, button, div) {
        @apply 
        px-4
        ;
        &::after {
          @apply 
          rounded
          ;
        }
      }
    }
  }
}
@screen xl {
  .menu {
    &.xl\:menu-horizontal {
      @apply
      inline-flex
      flex-row
      ;
      :where(a, button, div) {
        @apply 
        px-4
        ;
        &::after {
          @apply 
          rounded
          ;
        }
      }
    }
  }
}

/* Loading */

.menu.is-loading,
.menu > li.is-loading {
  @apply
  relative
  pointer-events-none
  ;
  
  &,
  *[class*='text-'],
  span {
    @apply
    text-ui-200/0
    ;
  }
  
  span {
    @apply
    relative
    ;
    &::after {
      @apply
      absolute
      inset-0
      content-['']
      block
      rounded
      bg-ui-700
      bg-[length:800px_100%]
      bg-[-200%_center]
      bg-no-repeat
      animate-[loader-menu_1s_linear_infinite]
      ;
      background-image: linear-gradient(to right, rgba(var(--color-ui-700) / 100%) 8%, rgba(var(--color-ui-600) / 100%) 18%, rgba(var(--color-ui-700) / 100%) 33%);
    }
  }
}

@keyframes loader-menu {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}