/*----------------------------*/
/* MODAL */
/*----------------------------*/

.modal-container {
  @apply
  fixed
  inset-0
  overflow-y-auto
  overflow-x-hidden
  flex
  flex-col
  justify-start
  items-center
  mx-2
  md:mx-auto
  ;
  z-index: 999;

  .modal {
    @apply
    shadow-lg
    animate-slide-in-top
    w-full
    ;
    animation-duration: 500ms;
    &:not([class*="max-w"]) {
      @apply
      max-w-md
      ;
    }
  }
}

.modal-dialog {
  @apply
  w-full
  flex-1
  m-auto
  flex
  flex-col
  justify-center
  items-center
  py-8
  ;
}

.modal-backdrop {
  @apply
  fixed
  inset-0
  bg-ui-900/95
  backdrop-blur
  z-30
  animate-fade-in
  ;
  animation-duration: 75ms;
}

.modal {
  @apply
  flex
  flex-col
  lg:flex-row
  items-stretch
  overflow-hidden
  relative
  ;

  &:not([class*='rounded']) {
    @apply
    rounded-xl
    ;
  }

  &:not([class*='surface']) {
    @apply
    bg-ui-800
    border-t
    border-ui-700
    ;
  }

  &.surface-transparent {
    @apply
    shadow-none
    ;
  }

  > .button-close {
    @apply
    absolute
    z-20
    top-2
    right-2
    ;
  }

  .modal-image {
    @apply
    flex-1
    aspect-square
    relative
    bg-ui-900
    flex
    items-center
    justify-center
    overflow-hidden
    ;

    > span {
      @apply
      bg-cover
      bg-center
      ;
    }

    > img {
      @apply
      relative
      z-30
      ;
    }

    &::before {
      @apply
      absolute
      z-10
      content-['']
      bg-gradient-radial
      from-blue-300/75
      via-blue-700/50
      to-purple-500/0
      rounded-full
      h-32
      w-56
      -bottom-24
      -right-32
      -rotate-45
      blur-xl
      ;
    }

    > span {
      @apply
      absolute
      z-20
      inset-0
      bg-cover
      bg-center
      ;
    }
  }
  .modal-content {
    @apply
    flex-1
    flex
    flex-col
    items-stretch
    text-center
    lg:text-left
    ;

    &:not([class*="p-"]) {
      @apply
      p-4
      lg:p-6
      ;
    }

    .modal-body {
      @apply
      flex-1
      flex
      flex-col
      items-stretch
      justify-center
      ;

      .modal-title {
        @apply
        leading-none
        text-3xl
        lg:text-4xl
        my-2
        ;
      }

      p {
        @apply
        my-2
        ;
        &:not([class*="leading-"]) {
          @apply
          leading-loose
          ;
        }
        &:not([class*="text-"]) {
          @apply
          text-ui-200
          ;
        }
      }
    }
  }

  &.modal-inverted {
    .modal-image {
      @apply
      lg:order-2
      ;
    }
    .modal-content {
      @apply
      order-1
      ;
    }
  }
}

.modal-action {
  @apply
  flex
  items-center
  justify-center
  lg:justify-start
  gap-4
  border-t
  border-ui-700
  pt-4
  lg:pt-6
  mt-4
  lg:mt-6
  ;
}


.modal {
  &.modal-center {
    .modal-content,
    .modal-body {
      @apply
      text-center
      lg:text-center
      ;
    }
    .modal-action {
      @apply
      lg:justify-center
      ;
    }
  }
  &.modal-right {
    .modal-content,
    .modal-body {
      @apply
      text-right
      lg:text-right
      ;
    }
    .modal-action {
      @apply
      lg:justify-end
      ;
    }
  }
}