/*----------------------------*/
/* PROGRESS BAR */
/*----------------------------*/


.progressbar {
  @apply
  rounded-sm
  bg-ui-600
  overflow-hidden
  w-full
  transform-gpu
  ;

  &,
  > div {
    @apply
    h-2
    ;
  }
}

.progressbar:not(.progressbar-secondary) {
  > div {
    @apply
    bg-main
    transition-all
    duration-1000
    ease-[cubic-bezier(0.9,0,0.1,1)]
    scale-x-110
    rounded-full
    ;
    transform: translate3d(calc(-100% + (1% * var(--percent))), 0, 0);
  }
}

/* secondary */

.progressbar.progressbar-secondary {
  @apply
  flex
  items-stretch
  overflow-visible
  ;
  > div {
    clip-path: none;
    &:nth-of-type(1) {
      @apply
      bg-main
      w-[calc(1%*var(--percent))]
      rounded-l-sm
      ;
    }
    &:nth-of-type(2) {
      @apply
      bg-error-700
      w-[calc(1%*var(--progress))]
      relative
      flex
      items-center
      rounded-r-sm
      ;
      &::before,
      &::after {
        @apply
        content-['']
        absolute
        ;
      }
      &::before {
        @apply
        inset-0
        bg-main
        origin-left
        animate-[progressbarsecondary-progress_4s_cubic-bezier(0.3,0,0.8,1)_both]
        rounded-r-sm
        ;
      }
      &::after {
        @apply
        w-2
        h-2
        -right-1
        bg-main/50
        bg-gradient-radial
        from-main
        to-main/0
        animate-[progressbarsecondary-explosion_0.75s_cubic-bezier(0,.85,.15,1)_forwards_4s]
        scale-0
        rotate-45
        transform-gpu
        origin-center
        ;
        /*clip-path: polygon(50% 0%, 61% 38%, 100% 50%, 61% 61%, 50% 100%, 38% 61%, 0% 50%, 38% 38%);*/
      }
    }
  }
}

@keyframes progressbarsecondary-progress {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
@keyframes progressbarsecondary-explosion {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
    transform: rotate(-135deg) scale(0);
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) scale(4);
  }
}

/* size */

.progressbar.progressbar-sm {
  @apply
  rounded-full
  ;
  
  &,
  > div {
    @apply
    h-1.5
    ;
  }
}
.progressbar.progressbar-xs {
  @apply
  rounded-full
  ;
  
  &,
  > div {
    @apply
    h-px
    ;
    clip-path: none;
  }
}


/* radial */

.progressbar-radial {
  @apply
  relative
  overflow-hidden
  rounded-full
  shrink-0
  transform-gpu
  mx-auto
  ;
  > div {
    @apply
    absolute
    z-30
    inset-0
    flex
    items-center
    justify-center
    text-center
    leading-none
    ;
  }

  &::after {
    @apply
    content-['']
    absolute
    z-20
    inset-2.5
    bg-ui-800
    rounded-full
    ;
  }
  > svg {
    @apply
    relative
    z-0
    w-32
    h-32
    block
    overflow-hidden
    rounded-full
    -scale-x-100
    shadow-[inset_0_0_0_1000px_rgb(var(--color-ui-600))]
    ;

    circle {
      @apply
      fill-ui-100/0
      stroke-main
      -rotate-90
      scale-125
      transition-all
      duration-1000
      ease-[cubic-bezier(0.9,0,0.1,1)]
      ;
      transform-box: fill-box;
      transform-origin: center center;
      stroke-width: 5;
      stroke-dasharray: 120;
      stroke-dashoffset: calc((1px * var(--percent)) - 100px);
    }
  }

  &.progressbar-sm {
    &::before {
      @apply
      w-12
      h-12
      -bottom-6
      blur-sm
      left-[calc(50%-1.5rem)];
    }
    > svg {
      @apply
      w-20
      h-20
      ;
    }
    &::after {
      @apply
      inset-1.5
      ;
    }
  }

  + .icon-holder {
    @apply
    absolute
    z-30
    top-2.5
    left-2.5
    ;
  }

  &.progressbar-xs {
    &::before {
      @apply
      w-5
      h-5
      -bottom-6
      blur-sm
      left-[calc(50%-1.5rem)];
    }
    > svg {
      @apply
      w-7
      h-7
      ;
    }
    &::after {
      @apply
      inset-px
      ;
    }
  }
}

@media (pointer:none), (pointer:coarse) {
  .progressbar-radial {
    > svg {
      circle {
        @apply
        fill-main
        stroke-ui-600
        ;
      }
    }
  }
}