/*----------------------------*/
/* SURFACE */
/*----------------------------*/


.surface {
  @apply
  relative
  bg-ui-800
  border-t
  border-t-ui-700
  ;
}
.surface {
  &.surface-highlight,
  &.surface-highlight-main {
    @apply
    border-main
    drop-shadow-main
    ;
  }

  &.surface-highlight-blue {
    @apply
    border-blue-300
    drop-shadow-blue
    ;
  }

  &.surface-highlight-premium {
    @apply
    border-gold-300
    drop-shadow-premium
    ;
  }
}

.surface-halo {
  @apply
  relative
  overflow-hidden
  ;
  &:not(.halo-l):not(.halo-r):not(.halo-t):not(.halo-b) {
    @apply
    border-t
    border-t-main
    ;
  }

  &.halo-l {
    @apply
    border-l
    border-l-main
    ;
  }
  &.halo-r {
    @apply
    border-r
    border-r-main
    ;
  }
  &.halo-t {
    @apply
    border-t
    border-t-main
    ;
  }
  &.halo-b {
    @apply
    border-b
    border-b-main
    ;
  }
}

.surface-transparent {
  @apply
  border-t
  border-t-ui-700/0
  bg-ui-800/0
  ;
}

/* blur container */

.blurcontainer {
  position: relative;
  //overflow: visible;
  > i {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      position: absolute;
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-rotate: 0deg;
      --tw-skew-x: 0;
      --tw-skew-y: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate))
        skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    &::after {
      height: 60px;
      bottom: -30px;
      border-radius: 100%;
      filter: blur(29px);
      background: radial-gradient(
        60% 1530% at 72% 50%,
        #12d4ff 0%,
        #1277ef 30%,
        rgba(var(--color-dark-900-rgb), 0) 100%
      );
    }

    ~ * {
      position: relative;
      z-index: 1;
    }
  }

  &.blurcontainer-1 {
    > i {
      &::before {
      }
      &::after {
        height: 60px;
        top: -10%;
        left: -50%;
        border-radius: 100%;
        filter: blur(80px);
        opacity: 0.33;
        background: radial-gradient(
          60% 1530% at 72% 50%,
          #aaf0ff 0%,
          #0079ff 30%,
          rgba(var(--color-dark-900-rgb), 0) 100%
        );
      }
      @media only screen and (max-width: 768px) {
        &::after {
          opacity: 0.22;
          filter: blur(40px);
        }
      }
    }
  }

  &.blurcontainer-2 {
    > i {
      &::before {
        height: 60px;
        top: -10%;
        left: -50%;
        border-radius: 100%;
        filter: blur(80px);
        opacity: 0.33;
        background: radial-gradient(
          60% 1530% at 72% 50%,
          #aaf0ff 0%,
          #0079ff 30%,
          rgba(var(--color-dark-900-rgb), 0) 100%
        );
      }
      &::after {
        height: 120px;
        bottom: -10%;
        right: -50%;
        border-radius: 100%;
        filter: blur(80px);
        opacity: 0.33;
        background: radial-gradient(
          60% 1530% at 72% 50%,
          #aaf0ff 0%,
          #0079ff 30%,
          rgba(var(--color-dark-900-rgb), 0) 100%
        );
      }
      @media only screen and (max-width: 768px) {
        &::before,
        &::after {
          opacity: 0.22;
          filter: blur(40px);
        }
      }
    }
  }

  &.blurcontainer-3 {
    > i {
      &::before {
      }
      &::after {
        background: radial-gradient(
          60% 1530% at 100% 50%,
          #aaf0ff 0%,
          #0079ff 30%,
          rgba(var(--color-dark-900-rgb), 0) 100%
        );
      }
      @media only screen and (max-width: 768px) {
        &::after {
          opacity: 0.22;
          filter: blur(40px);
        }
      }
    }
  }
}

/* colors */
.surface-dimmed {
  @apply
  bg-ui-850
  border-t
  border-t-ui-700/50
  ;
}

.surface-ui-900 {
  @apply
  bg-ui-900
  border-t
  border-t-ui-800
  ;
  .progressbar {
    @apply
    bg-ui-700
    ;
  }
}
.surface-ui-800 {
  @apply
  bg-ui-800
  border-t
  border-t-ui-700
  ;
  .progressbar {
    @apply
    bg-ui-600
    ;
  }
}
.surface-ui-700 {
  @apply
  bg-ui-700
  border-t
  border-t-ui-600
  ;
  .progressbar {
    @apply
    bg-ui-500
    ;
  }
}
.surface-ui-600 {
  @apply
  bg-ui-600
  border-t
  border-t-ui-500
  ;
  .progressbar {
    @apply
    bg-ui-400
    ;
  }
}
.surface-premium,
.surface-unlocked {
  @apply
  border-t
  border-t-premium-700/25
  bg-ui-800
  ;
  .progressbar {
    @apply
    bg-premium-700
    ;
  }
}
.surface-main {
  @apply
  border-t
  border-t-main
  bg-ui-800
  ;
}

/* responsive surfaces */

@media only screen and (min-width: 640px) {
	.sm\:surface {
    @apply
    bg-ui-800
    border-t
    border-t-ui-700
    ;
  }
  .sm\:surface-dimmed {
    @apply
    bg-ui-850
    border-t
    border-t-ui-700/50
    ;
  }
  
  .sm\:surface-ui-900 {
    @apply
    bg-ui-900
    border-t
    border-t-ui-800
    ;
    .progressbar {
      @apply
      bg-ui-700
      ;
    }
  }
  .sm\:surface-ui-800 {
    @apply
    bg-ui-800
    border-t
    border-t-ui-700
    ;
    .progressbar {
      @apply
      bg-ui-600
      ;
    }
  }
  .sm\:surface-ui-700 {
    @apply
    bg-ui-700
    border-t
    border-t-ui-600
    ;
    .progressbar {
      @apply
      bg-ui-500
      ;
    }
  }
  .sm\:surface-ui-600 {
    @apply
    bg-ui-600
    border-t
    border-t-ui-500
    ;
    .progressbar {
      @apply
      bg-ui-400
      ;
    }
  }
  .sm\:surface-premium,
  .sm\:surface-unlocked {
    @apply
    border-premium-700/25
    bg-ui-800
    ;
    .progressbar {
      @apply
      bg-premium-700
      ;
    }
  }
  .sm\:surface-main {
    @apply
    border-main
    bg-ui-800
    ;
  }
}
@media only screen and (min-width: 768px) {
	.md\:surface {
    @apply
    bg-ui-800
    border-t
    border-t-ui-700
    ;
  }
  .md\:surface-dimmed {
    @apply
    bg-ui-850
    border-t
    border-t-ui-700/50
    ;
  }
  
  .md\:surface-ui-900 {
    @apply
    bg-ui-900
    border-t
    border-t-ui-800
    ;
    .progressbar {
      @apply
      bg-ui-700
      ;
    }
  }
  .md\:surface-ui-800 {
    @apply
    bg-ui-800
    border-t
    border-t-ui-700
    ;
    .progressbar {
      @apply
      bg-ui-600
      ;
    }
  }
  .md\:surface-ui-700 {
    @apply
    bg-ui-700
    border-t
    border-t-ui-600
    ;
    .progressbar {
      @apply
      bg-ui-500
      ;
    }
  }
  .md\:surface-ui-600 {
    @apply
    bg-ui-600
    border-t
    border-t-ui-500
    ;
    .progressbar {
      @apply
      bg-ui-400
      ;
    }
  }
  .md\:surface-premium,
  .md\:surface-unlocked {
    @apply
    border-premium-700/25
    bg-ui-800
    ;
    .progressbar {
      @apply
      bg-premium-700
      ;
    }
  }
  .md\:surface-main {
    @apply
    border-main
    bg-ui-800
    ;
  }
}
@media only screen and (min-width: 1024px) {
	.lg\:surface {
    @apply
    bg-ui-800
    border-t
    border-t-ui-700
    ;
  }
  .lg\:surface-dimmed {
    @apply
    bg-ui-850
    border-t
    border-t-ui-700/50
    ;
  }
  
  .lg\:surface-ui-900 {
    @apply
    bg-ui-900
    border-t
    border-t-ui-800
    ;
    .progressbar {
      @apply
      bg-ui-700
      ;
    }
  }
  .lg\:surface-ui-800 {
    @apply
    bg-ui-800
    border-t
    border-t-ui-700
    ;
    .progressbar {
      @apply
      bg-ui-600
      ;
    }
  }
  .lg\:surface-ui-700 {
    @apply
    bg-ui-700
    border-t
    border-t-ui-600
    ;
    .progressbar {
      @apply
      bg-ui-500
      ;
    }
  }
  .lg\:surface-ui-600 {
    @apply
    bg-ui-600
    border-t
    border-t-ui-500
    ;
    .progressbar {
      @apply
      bg-ui-400
      ;
    }
  }
  .lg\:surface-premium,
  .lg\:surface-unlocked {
    @apply
    border-premium-700/25
    bg-ui-800
    ;
    .progressbar {
      @apply
      bg-premium-700
      ;
    }
  }
  .lg\:surface-main {
    @apply
    border-main
    bg-ui-800
    ;
  }
}
@media only screen and (min-width: 1280px) {
	.xl\:surface {
    @apply
    bg-ui-800
    border-t
    border-t-ui-700
    ;
  }
  .xl\:surface-dimmed {
    @apply
    bg-ui-850
    border-t
    border-t-ui-700/50
    ;
  }
  
  .xl\:surface-ui-900 {
    @apply
    bg-ui-900
    border-t
    border-t-ui-800
    ;
    .progressbar {
      @apply
      bg-ui-700
      ;
    }
  }
  .xl\:surface-ui-800 {
    @apply
    bg-ui-800
    border-t
    border-t-ui-700
    ;
    .progressbar {
      @apply
      bg-ui-600
      ;
    }
  }
  .xl\:surface-ui-700 {
    @apply
    bg-ui-700
    border-t
    border-t-ui-600
    ;
    .progressbar {
      @apply
      bg-ui-500
      ;
    }
  }
  .xl\:surface-ui-600 {
    @apply
    bg-ui-600
    border-t
    border-t-ui-500
    ;
    .progressbar {
      @apply
      bg-ui-400
      ;
    }
  }
  .xl\:surface-premium,
  .xl\:surface-unlocked {
    @apply
    border-premium-700/25
    bg-ui-800
    ;
    .progressbar {
      @apply
      bg-premium-700
      ;
    }
  }
  .xl\:surface-main {
    @apply
    border-main
    bg-ui-800
    ;
  }
}
