/*----------------------------*/
/* TABS */
/*----------------------------*/

.tabs {
  @apply
  flex
  flex-nowrap
  items-stretch
  whitespace-nowrap
  relative
  overflow-x-auto
  pt-0.5
  ;

  li {
    @apply
    flex
    justify-center
    items-end
    relative
    transition
    duration-300
    ease-in-out
    leading-none
    text-center
    ;

    &.is-disabled {
      @apply
      opacity-50
      pointer-events-none
      ;
    }

    > a, 
    > button,
    > div {
      @apply
      relative
      block 
      text-ui-300
      cursor-pointer
      select-none
      transition
      duration-300
      ease-in-out
      outline-offset-[-1px]
      focus-visible:rounded
      focus-visible:outline
      focus-visible:outline-1
      focus-visible:outline-main
      ;
  
      &:not([class*="pt-"]) {
        @apply
        pt-3
        ;
      }
      &:not([class*="pb-"]) {
        @apply
        pb-4
        ;
      }
      &:not([class*="px-"]) {
        @apply
        px-5
        ;
      }
  
      > span {
        @apply
        block
        ;
      }
      > span,
      > div {
        @apply
        transition
        ease-linear
        duration-75
        ;
      }
  
      &.is-active,
      &:active,
      &:hover {
        @apply
        text-white
        ;
        &::after {
          @apply
          opacity-100
          scale-x-100
          ;
        }
      }
  
      &::before,
      &::after {
        @apply
        transition
        duration-300
        ease-[cubic-bezier(0.7,0,0.3,1)]
        ;
      }
  
      &::after {
        @apply
        content-['']
        absolute
        block
        h-1
        w-full
        bottom-0
        inset-x-0
        bg-main
        opacity-0
        scale-x-0
        ;
      }
    }
  }
 
  &::after {
    @apply
    content-['']
    h-px
    w-full
    bg-ui-800
    absolute
    bottom-0
    inset-x-0
    hidden
    ;
  }
}

.tabs:not(.tabs-secondary) {
  :where(a, button, .button, div) {
    @apply
    leading-none
    ;
  }
}

.tabs:not(.tabs-rank) {
  > li {
    > a,
    > button,
    > div {
      &:active {
        > span,
        > div {
          @apply 
          translate-y-0.5
          ;
        }
      }
    }
  }
} 

.tabs.tabs-secondary {
  :where(a, button, .button, div) {
    @apply
    font-body
    leading-none
    text-sm
    uppercase
    ;
  }
} 

/* scrollbar hidden if overflow */
.tabs:not([class*=scrollbar]) {
  -webkit-overflow-scrolling: touch;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
}

/* Tabs rank */

.tabs.tabs-rank {
  @apply
  gap-4
  pt-0
  ;
  &:not([class*=px-]) {
    @apply
    px-6
    ;
  }
  &::after {
    @apply
    hidden
    ;
  }
  > li {
    @apply
    flex-none
    items-center
    ;
    
    > a, 
    > button,
    > div {
      @apply
      p-0
      relative
      block
      min-w-[255px]
      focus-visible:outline-main/0
      ;
      &:not(.is-active) {
        @apply
        opacity-60
        scale-95
        ;
      }
      :where([class*=icon-rank]) {
        @apply
        duration-300
        ease-in-out
        scale-75
        ;
      }

      &:focus-visible {
        > div {
          > div:first-child {
            @apply
            rounded
            outline
            outline-offset-2
            outline-1
            outline-main
            ;
          }
        }
      }
      
      &::before,
      &::after {
        @apply
        content-['']
        w-px
        h-full
        absolute
        z-50
        transition
        duration-300
        ease-[cubic-bezier(0.2,0,0.8,1)]
        opacity-0
        inset-y-0
        scale-x-150
        shadow-[inset_0_0_0_1px_rgba(255,255,255,0.25)]
        ;
      }
      &::before {
        @apply
        left-0
        right-auto
        origin-left
        translate-x-2
      }
      &::after {
        @apply
        right-0
        left-auto
        origin-right
        -translate-x-2
      }
      > div {
        @apply
        flex
        w-full
        gap-8
        items-center
        justify-center
        p-4
        ;
        > * {
          @apply
          flex
          gap-4
          items-center
          relative 
          z-20
          ;
        }
        &::before,
        &::after {
          @apply
          content-['']
          absolute
          z-10
          inset-0
          h-full
          w-full
          transition-all
          duration-200
          ease-[cubic-bezier(.7,0,.3,1)]
          ;
        }
        &::before {
          @apply
          z-10
          bg-ui-700
          scale-y-0
          translate-y-2
          opacity-0
          ;
        }
        &::after {
          @apply
          z-0
          bg-ui-800
          border-t
          border-t-ui-700
          ;
        }
      }
      &.is-active {
        :where([class*=icon-rank]) {
          @apply
          scale-100
          ;
        }
        &::before,
        &::after {
          @apply
          scale-x-100
          translate-x-0
          opacity-100
          ;
        }
        > div {
          &::before {
            @apply
            scale-y-100
            translate-y-0
            opacity-100
            ;
          }
        }
      }
    }
  }
  &:hover {
    li {
      @apply
      scale-95
      ;
      &:hover {
        @apply
        scale-100
        ;
        > a, 
        > button, 
        > div {
          @apply
          opacity-100
          scale-100
          ;
          :where([class*=icon-rank]) {
            @apply
            scale-100
            ;
          }
          &::before,
          &::after {
            @apply
            scale-x-100
            opacity-100
            translate-x-0
            ;
          }
          > div {
            &::before {
              @apply
              scale-y-100
              translate-y-0
              opacity-50
              ;
            }
          }
          &:active {
            > div {
              > div {
                @apply
                opacity-75
                ;
              }
            }
          }
        }
      }
    }
  }
  :where([class*=icon-rank]) {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @apply
    bg-gradient-radial-spotlight
    relative
    ;
    &::after {
      @apply
      content-['']
      absolute
      inset-2
      rounded-full
      blur-sm
      bg-gradient-radial
      opacity-10
      ;
    }
  }
  .icon-rank-bronze {
    @apply
    from-bronze-300
    via-bronze-500
    to-bronze-700
    ;
    &::after {
      @apply
      from-bronze-300
      to-bronze-700
      ;
    }  
  }
  .icon-rank-silver {
    @apply
    from-silver-300
    via-silver-500
    to-silver-700
    ;
    &::after {
      @apply
      from-silver-300
      to-silver-700
      ;
    }  
  }
  .icon-rank-gold {
    @apply
    from-gold-300
    via-gold-500
    to-gold-700
    ;
    &::after {
      @apply
      from-gold-300
      to-gold-700
      ;
    }  
  }
  .icon-rank-platinum {
    @apply
    from-purple-300
    to-purple-500
    ;
    &::after {
      @apply
      from-purple-300
      to-purple-700
      ;
    }  
  }
  .icon-rank-diamond {
    @apply
    from-interaction-300
    to-blue-500
    ;
    &::after {
      @apply
      from-interaction-300
      to-blue-500
      ;
    }  
  }
  li.tab-bronze {
    > a, 
    > button,
    > div {
      &::before,
      &::after {
        @apply
        bg-gradient-radial
        from-bronze-300
        to-bronze-700
        ;
      }
    } 
  }
  li.tab-silver {
    > a, 
    > button,
    > div {
      &::before,
      &::after {
        @apply
        bg-gradient-radial
        from-silver-300
        to-silver-700
        ;
      }
    } 
  }
  li.tab-gold {
    > a, 
    > button,
    > div {
      &::before,
      &::after {
        @apply
        bg-gradient-radial
        from-gold-300
        to-gold-700
        ;
      }
    } 
  }
  li.tab-platinum {
    > a, 
    > button,
    > div {
      &::before,
      &::after {
        @apply
        bg-gradient-radial
        from-purple-300
        to-purple-700
        ;
      }
    } 
  }
  li.tab-diamond {
    > a, 
    > button,
    > div {
      &::before,
      &::after {
        @apply
        bg-gradient-radial
        from-interaction-300
        to-blue-500
        ;
      }
    } 
  }
}


/* Tab button */

.tab {
  @apply
  relative
  inline-flex
  justify-center
  items-center
  cursor-pointer 
  text-ui-300
  select-none
  transition
  duration-300
  ease-in-out
  outline-offset-[-1px]
  focus-visible:rounded
  focus-visible:outline
  focus-visible:outline-1
  focus-visible:outline-main
  gap-2
  ;

  &:not([class*="pt-"]) {
    @apply
    pt-3
    ;
  }
  &:not([class*="pb-"]) {
    @apply
    pb-4
    ;
  }
  &:not([class*="px-"]) {
    @apply
    px-5
    ;
  }
  > span {
    @apply
    block
    ;
  }
  > span,
  > div {
    @apply
    transition
    ease-linear
    duration-75
    ;
  }

  &.is-active,
  &:active,
  &:hover {
    @apply
    text-white
    ;
    &::after {
      @apply
      opacity-100
      scale-x-100
    
      ;
    }
  }

  &:active {
    > span,
    > div {
      @apply 
      translate-y-0.5
      ;
    }
  }

  &::before,
  &::after {
    @apply
    transition
    duration-300
    ease-[cubic-bezier(0.7,0,0.3,1)]
    ;
  }

  &::after {
    @apply
    content-['']
    absolute
    block
    h-1
    w-full
    bottom-0
    inset-x-0
    bg-main
    opacity-0
    scale-x-0
    ;
  }
}

.tab.tab-secondary {
  @apply
  font-body
  leading-none
  text-sm
  uppercase
  ;
}

.tab:not(.tab-secondary) {
  @apply
  leading-none
  text-lg
  ;
}