/*----------------------------*/
/* TOOLTIP */
/*----------------------------*/


:where(.tooltip, [data-tooltip]) {
  @apply
  relative
  cursor-pointer
  ;

  &:hover {
    @apply
    z-50
    ;
  }

  &::after,
  > blockquote {
    @apply
    bg-ui-600/95
    rounded
    transition
    duration-200
    ease-in-out
    absolute
    backdrop-blur-sm
    transform-gpu
    z-10
    opacity-0
    font-normal
    text-sm
    text-ui-200
  }

  &:not([data-tooltip]) {
    > blockquote {
      @apply
      max-w-[16rem]
      w-full
      top-auto
      bottom-[100%]
      -translate-x-[calc(16rem/2)]
      translate-y-0.5
      ;
    }

    > *:hover {
      ~ blockquote {
        @apply
        opacity-100
        -translate-y-0.5
        ;
      }
    }
  }

  &[data-tooltip] {
    &::after {
      @apply
      content-[attr(data-tooltip)]
      font-body
      font-normal
      text-sm
      block
      right-auto
      left-[50%]
      top-auto
      bottom-[100%]
      py-2
      px-3
      pointer-events-none
      leading-tight
      -translate-x-[50%]
      translate-y-0.5
      max-w-[20rem]
      w-[max-content]
      ;
    }

    &:hover {
      &::after {
        @apply
        opacity-100
        -translate-y-0.5
        ;
      }
    }

    /* position */

    &.tooltip-top {
      &::after {
        @apply
        right-auto
        left-[50%]
        top-auto
        bottom-[100%]
        translate-y-0.5
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-y-0.5
          ;
        }
      }
    }
    &.tooltip-bottom {
      &::after {
        @apply
        bottom-auto
        top-[100%]
        -translate-y-1
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-y-1
          ;
        }
      }
    }
    &.tooltip-right {
      &::after {
        @apply
        top-auto
        bottom-[50%]
        left-[100%]
        -translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-x-1
          ;
        }
      }
    }
    &.tooltip-left {
      &::after {
        @apply
        top-auto
        bottom-[50%]
        right-[100%]
        left-auto
        translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-x-1
          ;
        }
      }
    }
  }
}

/* tooltip attention */

[data-tooltip] {
  &.tooltip-attention {
    @apply
    outline
    outline-offset-2
    outline-1
    outline-main
    rounded
    inline-block
    ;
    &::before {
      @apply
      content-['']
      absolute
      z-20
      pointer-events-none
      w-0
      h-0
      border-solid
      ;
    }
    &::after {
      @apply
      opacity-100
      bg-ui-600/75
      animate-fade-in
      text-main
      ;
    }
    &.tooltip-top {
      &::before {
        @apply
        border-t-8
        border-x-8
        border-b-0
        border-ui-900/0
        border-t-main
        animate-bounce
        translate-y-0
        -translate-x-[50%]
        top-auto
        right-auto
        left-[calc(50%-0.5rem)]
        bottom-[calc(100%+0.5rem)]
        ;
      }
      &::after {
        @apply
        -translate-x-[50%]
        -translate-y-6
        ;
      }
    }
    &.tooltip-bottom {
      &::before {
        @apply
        border-b-8
        border-x-8
        border-t-0
        border-ui-900/0
        border-b-main
        animate-bounce
        translate-y-0
        -translate-x-[50%]
        bottom-auto
        right-auto
        left-[calc(50%-0.5rem)]
        top-[calc(100%+0.5rem)]
        ;
      }
      &::after {
        @apply
        -translate-x-[50%]
        translate-y-6
        ;
      }
    }
    &.tooltip-right {
      &::before {
        @apply
        border-r-8
        border-y-8
        border-l-0
        border-ui-900/0
        border-r-main
        animate-bounce-left
        top-auto
        right-auto
        bottom-[calc(50%-0.5rem)]
        left-[calc(100%+0.5rem)]
        translate-x-0
        translate-y-0
        ;
      }
      &::after {
        @apply
        translate-y-[50%]
        translate-x-6
        ;
      }
    }
    &.tooltip-left {
      &::before {
        @apply
        border-l-8
        border-y-8
        border-r-0
        border-ui-900/0
        border-l-main
        animate-bounce-right
        top-auto
        left-auto
        bottom-[calc(50%-0.5rem)]
        right-[calc(100%+0.5rem)]
        translate-x-0
        translate-y-0
        ;
      }
      &::after {
        @apply
        translate-y-[50%]
        -translate-x-6
        ;
      }
    }
  }
}

/* large tooltip */

.tooltip-lg {
  @apply
  bg-ui-600/95
  rounded
  backdrop-blur-sm
  transform-gpu
  p-3
  transition-all
  duration-200
  ease-in-out
  opacity-0
  ;

  &.is-active {
    @apply
    opacity-100
    ;
  }

  &.tooltip-bottom {
    @apply
    -translate-y-1
    opacity-0
    ;
    &.is-active {
      @apply
      animate-[tooltip-bottom_200ms_ease-in-out_forwards];
    }
  }
  &.tooltip-top {
    @apply
    translate-y-1
    opacity-0
    ;
    &.is-active {
      @apply
      animate-[tooltip-top_200ms_ease-in-out_forwards];
    }
  }
}
@keyframes tooltip-bottom {
  from {
    transform: translateY(-0.25rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes tooltip-top {
  from {
    transform: translateY(0.25rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


/* responsive positioning */

@media only screen and (min-width: 640px) {
	.tooltip[data-tooltip] {
    &.sm\:tooltip-top {
      &::after {
        @apply
        right-auto
        left-[50%]
        top-auto
        bottom-[100%]
        translate-y-0.5
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-y-0.5
          ;
        }
      }
    }
    &.sm\:tooltip-right {
      &::after {
        @apply
        top-auto
        bottom-[50%]
        left-[100%]
        -translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-x-1
          ;
        }
      }
    }
    &.sm\:tooltip-left {
      &::after {
        @apply
        top-auto
        bottom-[50%]
        right-[100%]
        left-auto
        translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-x-1
          ;
        }
      }
    }
    &.sm\:tooltip-bottom {
      &::after {
        @apply
        bottom-auto
        top-[100%]
        -translate-y-1
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-y-1
          ;
        }
      }
    }
    &.tooltip-attention {
      &.sm\:tooltip-top {
        &::before {
          @apply
          border-t-8
          border-x-8
          border-b-0
          border-ui-900/0
          border-t-main
          animate-bounce
          translate-y-0
          -translate-x-[50%]
          top-auto
          right-auto
          left-[calc(50%-0.5rem)]
          bottom-[calc(100%+0.5rem)]
          ;
        }
        &::after {
          @apply
          -translate-x-[50%]
          -translate-y-6
          ;
        }
      }
      &.sm\:tooltip-bottom {
        &::before {
          @apply
          border-b-8
          border-x-8
          border-t-0
          border-ui-900/0
          border-b-main
          animate-bounce
          translate-y-0
          -translate-x-[50%]
          bottom-auto
          right-auto
          left-[calc(50%-0.5rem)]
          top-[calc(100%+0.5rem)]
          ;
        }
        &::after {
          @apply
          -translate-x-[50%]
          translate-y-6
          left-[50%]
          ;
        }
      }
      &.sm\:tooltip-right {
        &::before {
          @apply
          border-r-8
          border-y-8
          border-l-0
          border-ui-900/0
          border-r-main
          animate-bounce-left
          top-auto
          right-auto
          bottom-[calc(50%-0.5rem)]
          left-[calc(100%+0.5rem)]
          translate-x-0
          translate-y-0
          ;
        }
        &::after {
          @apply
          translate-y-[50%]
          translate-x-6
          ;
        }
      }
      &.sm\:tooltip-left {
        &::before {
          @apply
          border-l-8
          border-y-8
          border-r-0
          border-ui-900/0
          border-l-main
          animate-bounce-right
          top-auto
          left-auto
          bottom-[calc(50%-0.5rem)]
          right-[calc(100%+0.5rem)]
          translate-x-0
          translate-y-0
          ;
        }
        &::after {
          @apply
          translate-y-[50%]
          -translate-x-6
          left-[50%]
          ;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
	.tooltip[data-tooltip] {
    &.md\:tooltip-top {
      &::after {
        @apply
        right-auto
        left-[50%]
        top-auto
        bottom-[100%]
        translate-y-0.5
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-y-0.5
          ;
        }
      }
    }
    &.md\:tooltip-right {
      &::after {
        @apply
        top-auto
        bottom-[50%]
        left-[100%]
        -translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-x-1
          ;
        }
      }
    }
    &.md\:tooltip-left {
      &::after {
        @apply
        top-auto
        bottom-[50%]
        right-[100%]
        left-auto
        translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-x-1
          ;
        }
      }
    }
    &.md\:tooltip-bottom {
      &::after {
        @apply
        bottom-auto
        top-[100%]
        -translate-y-1
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-y-1
          ;
        }
      }
    }
    &.tooltip-attention {
      &.md\:tooltip-top {
        &::before {
          @apply
          border-t-8
          border-x-8
          border-b-0
          border-ui-900/0
          border-t-main
          animate-bounce
          translate-y-0
          -translate-x-[50%]
          top-auto
          right-auto
          left-[calc(50%-0.5rem)]
          bottom-[calc(100%+0.5rem)]
          ;
        }
        &::after {
          @apply
          -translate-x-[50%]
          -translate-y-6
          ;
        }
      }
      &.md\:tooltip-bottom {
        &::before {
          @apply
          border-b-8
          border-x-8
          border-t-0
          border-ui-900/0
          border-b-main
          animate-bounce
          translate-y-0
          -translate-x-[50%]
          bottom-auto
          right-auto
          left-[calc(50%-0.5rem)]
          top-[calc(100%+0.5rem)]
          ;
        }
        &::after {
          @apply
          -translate-x-[50%]
          translate-y-6
          ;
        }
      }
      &.md\:tooltip-right {
        &::before {
          @apply
          border-r-8
          border-y-8
          border-l-0
          border-ui-900/0
          border-r-main
          animate-bounce-left
          top-auto
          right-auto
          bottom-[calc(50%-0.5rem)]
          left-[calc(100%+0.5rem)]
          translate-x-0
          translate-y-0
          ;
        }
        &::after {
          @apply
          translate-y-[50%]
          translate-x-6
          ;
        }
      }
      &.md\:tooltip-left {
        &::before {
          @apply
          border-l-8
          border-y-8
          border-r-0
          border-ui-900/0
          border-l-main
          animate-bounce-right
          top-auto
          left-auto
          bottom-[calc(50%-0.5rem)]
          right-[calc(100%+0.5rem)]
          translate-x-0
          translate-y-0
          ;
        }
        &::after {
          @apply
          translate-y-[50%]
          -translate-x-6
          ;
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
	.tooltip[data-tooltip] {
    &.lg\:tooltip-top {
      &::after {
        @apply
        right-auto
        left-[50%]
        top-auto
        bottom-[100%]
        translate-y-0.5
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-y-0.5
          ;
        }
      }
    }
    &.lg\:tooltip-right {
      &::after {
        @apply
        top-auto
        bottom-[50%]
        left-[100%]
        -translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-x-1
          ;
        }
      }
    }
    &.lg\:tooltip-left {
      &::after {
        @apply
        top-auto
        bottom-[50%]
        right-[100%]
        left-auto
        translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-x-1
          ;
        }
      }
    }
    &.lg\:tooltip-bottom {
      &::after {
        @apply
        bottom-auto
        top-[100%]
        -translate-y-1
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-y-1
          ;
        }
      }
    }
    &.tooltip-attention {
      &.lg\:tooltip-top {
        &::before {
          @apply
          border-t-8
          border-x-8
          border-b-0
          border-ui-900/0
          border-t-main
          animate-bounce
          translate-y-0
          -translate-x-[50%]
          top-auto
          right-auto
          left-[calc(50%-0.5rem)]
          bottom-[calc(100%+0.5rem)]
          ;
        }
        &::after {
          @apply
          -translate-x-[50%]
          -translate-y-6
          left-[50%]
          ;
        }
      }
      &.lg\:tooltip-bottom {
        &::before {
          @apply
          border-b-8
          border-x-8
          border-t-0
          border-ui-900/0
          border-b-main
          animate-bounce
          translate-y-0
          -translate-x-[50%]
          bottom-auto
          right-auto
          left-[calc(50%-0.5rem)]
          top-[calc(100%+0.5rem)]
          ;
        }
        &::after {
          @apply
          -translate-x-[50%]
          translate-y-6
          left-[50%]
          ;
        }
      }
      &.lg\:tooltip-right {
        &::before {
          @apply
          border-r-8
          border-y-8
          border-l-0
          border-ui-900/0
          border-r-main
          animate-bounce-left
          top-auto
          right-auto
          bottom-[calc(50%-0.5rem)]
          left-[calc(100%+0.5rem)]
          translate-x-0
          translate-y-0
          ;
        }
        &::after {
          @apply
          translate-y-[50%]
          translate-x-6
          ;
        }
      }
      &.lg\:tooltip-left {
        &::before {
          @apply
          border-l-8
          border-y-8
          border-r-0
          border-ui-900/0
          border-l-main
          animate-bounce-right
          top-auto
          left-auto
          bottom-[calc(50%-0.5rem)]
          right-[calc(100%+0.5rem)]
          translate-x-0
          translate-y-0
          ;
        }
        &::after {
          @apply
          translate-y-[50%]
          -translate-x-6
          ;
        }
      }
    }
  }
}
@media only screen and (min-width: 1280px) {
	.tooltip[data-tooltip] {
    &.xl\:tooltip-top {
      &::after {
        @apply
        right-auto
        left-[50%]
        top-auto
        bottom-[100%]
        translate-y-0.5
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-y-0.5
          ;
        }
      }
    }
    &.xl\:tooltip-right {
      &::after {
        @apply
        top-auto
        bottom-[50%]
        left-[100%]
        -translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-x-1
          ;
        }
      }
    }
    &.xl\:tooltip-left {
      &::after {
        @apply
        top-auto
        bottom-[50%]
        right-[100%]
        left-auto
        translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-x-1
          ;
        }
      }
    }
    &.xl\:tooltip-bottom {
      &::after {
        @apply
        bottom-auto
        top-[100%]
        -translate-y-1
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-y-1
          ;
        }
      }
    }
    &.tooltip-attention {
      &.xl\:tooltip-top {
        &::before {
          @apply
          border-t-8
          border-x-8
          border-b-0
          border-ui-900/0
          border-t-main
          animate-bounce
          translate-y-0
          -translate-x-[50%]
          top-auto
          right-auto
          left-[calc(50%-0.5rem)]
          bottom-[calc(100%+0.5rem)]
          ;
        }
        &::after {
          @apply
          -translate-x-[50%]
          -translate-y-6
          ;
        }
      }
      &.xl\:tooltip-bottom {
        &::before {
          @apply
          border-b-8
          border-x-8
          border-t-0
          border-ui-900/0
          border-b-main
          animate-bounce
          translate-y-0
          -translate-x-[50%]
          bottom-auto
          right-auto
          left-[calc(50%-0.5rem)]
          top-[calc(100%+0.5rem)]
          ;
        }
        &::after {
          @apply
          -translate-x-[50%]
          translate-y-6
          ;
        }
      }
      &.xl\:tooltip-right {
        &::before {
          @apply
          border-r-8
          border-y-8
          border-l-0
          border-ui-900/0
          border-r-main
          animate-bounce-left
          top-auto
          right-auto
          bottom-[calc(50%-0.5rem)]
          left-[calc(100%+0.5rem)]
          translate-x-0
          translate-y-0
          ;
        }
        &::after {
          @apply
          translate-y-[50%]
          translate-x-6
          ;
        }
      }
      &.xl\:tooltip-left {
        &::before {
          @apply
          border-l-8
          border-y-8
          border-r-0
          border-ui-900/0
          border-l-main
          animate-bounce-right
          top-auto
          left-auto
          bottom-[calc(50%-0.5rem)]
          right-[calc(100%+0.5rem)]
          translate-x-0
          translate-y-0
          ;
        }
        &::after {
          @apply
          translate-y-[50%]
          -translate-x-6
          ;
        }
      }
    }
  }
}